openapi: 3.1.0
info:
  title: APIs.io Artifact Types API
  version: 1.2.1
  description: |-
    First-class, per-type artifact collections (OpenAPI, AsyncAPI, Arazzo, Postman, JSON Schema, and more). Each path filters and normalizes one artifact type across all providers.

    This is the Artifact Types surface of the [APIs.io API](https://apis.io/api/v1) — one of 12 contracts split from the full API by tag, each documented and governed on its own. See the APIs.json index for the whole set.
  contact:
    name: API Evangelist
    url: https://apis.io
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
  - url: https://apis.io/api/v1
    description: Production server.
tags:
  - name: Artifact Types
    description: First-class, per-type artifact collections (OpenAPI, AsyncAPI, Arazzo, Postman, JSON Schema, and more). Each path filters and normalizes one artifact type across all providers.
paths:
  /openapis:
    get:
      operationId: listOpenapis
      tags:
        - Artifact Types
      summary: List openapi specifications across the catalog.
      description: First-class collection of openapi specifications across every provider on the network. Surfaces and normalizes the `OpenAPI` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of openapi specifications with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /asyncapis:
    get:
      operationId: listAsyncapis
      tags:
        - Artifact Types
      summary: List asyncapi specifications across the catalog.
      description: First-class collection of asyncapi specifications across every provider on the network. Surfaces and normalizes the `AsyncAPI` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of asyncapi specifications with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /arazzo:
    get:
      operationId: listArazzo
      tags:
        - Artifact Types
      summary: List arazzo workflows across the catalog.
      description: First-class collection of arazzo workflows across every provider on the network. Surfaces and normalizes the `Arazzo` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of arazzo workflows with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /postman:
    get:
      operationId: listPostman
      tags:
        - Artifact Types
      summary: List postman collections across the catalog.
      description: First-class collection of postman collections across every provider on the network. Surfaces and normalizes the `PostmanCollection` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of postman collections with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /collections:
    get:
      operationId: listCollections
      tags:
        - Artifact Types
      summary: List api collections across the catalog.
      description: First-class collection of api collections across every provider on the network. Surfaces and normalizes the `Collection`, `Collections` artifact types. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of api collections with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /graphql:
    get:
      operationId: listGraphql
      tags:
        - Artifact Types
      summary: List graphql schemas across the catalog.
      description: First-class collection of graphql schemas across every provider on the network. Surfaces and normalizes the `GraphQL` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of graphql schemas with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /json-schemas:
    get:
      operationId: listJsonSchemas
      tags:
        - Artifact Types
      summary: List json schema definitions across the catalog.
      description: First-class collection of json schema definitions across every provider on the network. Surfaces and normalizes the `JSONSchema` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of json schema definitions with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /json-structures:
    get:
      operationId: listJsonStructures
      tags:
        - Artifact Types
      summary: List json structure definitions across the catalog.
      description: First-class collection of json structure definitions across every provider on the network. Surfaces and normalizes the `JSONStructure` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of json structure definitions with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /json-ld:
    get:
      operationId: listJsonLd
      tags:
        - Artifact Types
      summary: List json-ld contexts across the catalog.
      description: First-class collection of json-ld contexts across every provider on the network. Surfaces and normalizes the `JSONLD`, `JSONLDContext` artifact types. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of json-ld contexts with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /vocabularies:
    get:
      operationId: listVocabularies
      tags:
        - Artifact Types
      summary: List vocabularies across the catalog.
      description: First-class collection of vocabularies across every provider on the network. Surfaces and normalizes the `Vocabulary` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of vocabularies with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /rules:
    get:
      operationId: listRules
      tags:
        - Artifact Types
      summary: List governance rulesets across the catalog.
      description: First-class collection of governance rulesets across every provider on the network. Surfaces and normalizes the `Rules`, `SpectralRules`, `SpectralRuleset`, `Spectral` artifact types. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of governance rulesets with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /examples:
    get:
      operationId: listExamples
      tags:
        - Artifact Types
      summary: List examples across the catalog.
      description: First-class collection of examples across every provider on the network. Surfaces and normalizes the `Example`, `Examples`, `CodeExamples` artifact types. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of examples with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /finops:
    get:
      operationId: listFinops
      tags:
        - Artifact Types
      summary: List finops artifacts across the catalog.
      description: First-class collection of finops artifacts across every provider on the network. Surfaces and normalizes the `FinOps` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of finops artifacts with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /plans:
    get:
      operationId: listPlans
      tags:
        - Artifact Types
      summary: List plans across the catalog.
      description: First-class collection of plans across every provider on the network. Surfaces and normalizes the `Plans` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of plans with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /rate-limits:
    get:
      operationId: listRateLimits
      tags:
        - Artifact Types
      summary: List rate limits across the catalog.
      description: First-class collection of rate limits across every provider on the network. Surfaces and normalizes the `RateLimits` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of rate limits with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /channels:
    get:
      operationId: listChannels
      x-tier: free
      x-mcp-tool: find_artifacts
      tags:
        - Artifact Types
      summary: List AsyncAPI event channels across the catalog.
      description: First-class collection of AsyncAPI event channels across every provider — the finest-grained event/streaming discovery surface. Filter by free text, provider, and tags; `include=content` inlines each channel's spec.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of event channels with owning provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /mcp:
    get:
      operationId: listMcpServers
      x-tier: free
      x-mcp-tool: find_artifacts
      tags:
        - Artifact Types
      summary: List published MCP servers across the catalog.
      description: First-class collection of provider MCP servers across the network. Filter by free text, provider, and tags; `include=content` inlines each server's card/manifest.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of MCP servers with owning provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /skills:
    get:
      operationId: listSkills
      x-tier: free
      x-mcp-tool: find_artifacts
      tags:
        - Artifact Types
      summary: List published Agent Skills across the catalog.
      description: First-class collection of provider Agent Skills across the network. Filter by free text, provider, and tags; `include=content` inlines each skill.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of Agent Skills with owning provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
      security: []
  /scopes:
    get:
      operationId: listScopes
      x-tier: pro
      x-mcp-tool: find_artifacts
      security: []
      tags:
        - Artifact Types
      summary: List OAuth scope sets across the catalog.
      description: PRO — first-class collection of OAuth scope definitions across every provider. Filter by free text, provider, and tags; `include=content` inlines each scope set.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of OAuth scope sets with owning provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
  /security:
    get:
      operationId: listSecurity
      x-tier: pro
      x-mcp-tool: find_artifacts
      security: []
      tags:
        - Artifact Types
      summary: List security scheme definitions across the catalog.
      description: PRO — first-class collection of provider security/auth scheme definitions (authentication, domain security, VDP, trust center) across the network. Filter by free text, provider, and tags; `include=content` inlines each definition.
      parameters:
        - $ref: "#/components/parameters/Q"
        - $ref: "#/components/parameters/Providers"
        - $ref: "#/components/parameters/Tags"
        - $ref: "#/components/parameters/Match"
        - $ref: "#/components/parameters/Include"
        - $ref: "#/components/parameters/ArtifactSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of security definitions with owning provider context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactList"
        "400":
          $ref: "#/components/responses/BadRequest"
components:
  parameters:
    ArtifactSort:
      name: sort
      in: query
      description: Sort order.
      schema:
        type: string
        enum:
          - relevance
          - provider
          - name
          - updated
        default: relevance
        maxLength: 1024
    Include:
      name: include
      in: query
      description: Extra data to embed. `content` fetches and inlines artifact bodies.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
            - content
          maxLength: 1024
        maxItems: 1000
    Limit:
      name: limit
      in: query
      description: Items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Match:
      name: match
      in: query
      description: Whether results must match `any` (default) or `all` of the supplied tags.
      schema:
        type: string
        enum:
          - any
          - all
        default: any
        maxLength: 1024
    Page:
      name: page
      in: query
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
        default: 1
        maximum: 1000000
    Providers:
      name: providers
      in: query
      description: Comma-separated provider slugs to scope results to.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    Q:
      name: q
      in: query
      description: Free-text query over name and description (and tags where applicable).
      schema:
        type: string
        maxLength: 1024
    Tags:
      name: tags
      in: query
      description: Comma-separated tags to filter by. Tag names are Title Case (e.g. Messaging); lowercase slugs (e.g. messaging) are also accepted.
      style: form
      explode: false
      example:
        - Messaging
        - Authentication
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
  responses:
    BadRequest:
      description: Malformed request (bad parameter value).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            type: https://apis.io/problems/invalid-parameter
            title: Invalid parameter
            status: 400
            detail: "`match` must be one of: any, all."
            instance: /v1/search
            parameter: match
  schemas:
    Artifact:
      type: object
      description: A machine- or human-readable artifact attached to an API.
      properties:
        id:
          type: string
          description: Stable artifact id, `aid::type::n`.
          examples:
            - twilio:twilio-accounts-api::OpenAPI::0
          maxLength: 1024
        type:
          $ref: "#/components/schemas/ArtifactType"
        name:
          type: string
          description: Optional human label for the artifact.
          maxLength: 1024
        url:
          type: string
          format: uri
          description: Reference to the artifact.
          maxLength: 2048
        aid:
          type: string
          description: aid of the owning API.
          maxLength: 1024
        provider_slug:
          type: string
          maxLength: 1024
        provider_name:
          type: string
          maxLength: 1024
        content:
          type: string
          description: Inlined artifact body. Present only when include=content.
          maxLength: 20000
        content_type:
          type: string
          description: Media type of the inlined content (e.g. application/yaml).
          maxLength: 20000
      required:
        - type
        - url
    ArtifactList:
      type: object
      properties:
        meta:
          $ref: "#/components/schemas/Meta"
        data:
          type: array
          items:
            $ref: "#/components/schemas/Artifact"
          maxItems: 1000
      required:
        - meta
        - data
    ArtifactType:
      type: string
      description: |
        The type of an artifact. Open enumeration — the catalog carries ~50 types; the most
        common are listed here. Unknown values are allowed.
      examples:
        - OpenAPI
        - JSONSchema
        - Postman
      enum:
        - Documentation
        - OpenAPI
        - JSONSchema
        - JSONStructure
        - JSONLD
        - Example
        - GettingStarted
        - APIReference
        - Authentication
        - SDK
        - GitHubRepository
        - Reference
        - Pricing
        - CodeExamples
        - Website
        - RateLimits
        - Portal
        - AsyncAPI
        - Arazzo
        - GitHub
        - ChangeLog
        - SourceCode
        - Repository
        - FAQ
        - SignUp
        - GraphQL
        - Plans
        - Vocabulary
        - Specification
        - Tutorials
        - Sandbox
        - FinOps
        - SpectralRules
        - Console
        - GitHubOrganization
        - ReleaseNotes
        - Support
        - TermsOfService
        - Rules
        - Webhooks
        - Quickstart
        - ProductPage
        - Capabilities
        - PostmanCollection
        - Collection
        - KubernetesCRD
        - Hub
        - NaftikoCapability
      x-extensible-enum: true
      maxLength: 1024
    Meta:
      type: object
      description: Pagination and echoed-query metadata for collection responses.
      properties:
        total:
          type: integer
          description: Total matching items across all pages.
          maximum: 1000000
        page:
          type: integer
          maximum: 1000000
        limit:
          type: integer
          maximum: 1000
        pages:
          type: integer
          description: Total number of pages.
          maximum: 1000000
        query:
          type: object
          additionalProperties: true
          description: The effective query parameters, echoed back.
      required:
        - total
        - page
        - limit
        - pages
    Problem:
      type: object
      description: |
        A Problem Details object per [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457).
        Served as `application/problem+json`. Extension members (e.g. `parameter`) may be
        added alongside the standard fields.
      properties:
        type:
          type: string
          format: uri
          default: about:blank
          description: A URI identifying the problem type; dereferences to human-readable docs.
          examples:
            - https://apis.io/problems/invalid-parameter
          maxLength: 2048
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          examples:
            - Invalid parameter
          maxLength: 1024
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: The HTTP status code, repeated for convenience.
          examples:
            - 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence.
          maxLength: 20000
        instance:
          type: string
          format: uri-reference
          description: A URI reference identifying the specific occurrence (typically the request path).
          maxLength: 2048
        parameter:
          type: string
          description: Extension member — the offending query/path parameter, when applicable.
          maxLength: 1024
      required:
        - type
        - title
        - status
      additionalProperties: true
