openapi: 3.2.0
info:
  title: .io Search Areas API
  description: This is the technical API contract for the search API for the APIs.io search engine.
  version: 0.1.0
  contact:
    name: Kin Lane
    email: info@apievangelist.com
servers:
- url: https://apis.io/api/v1
  description: Production server.
security:
- {}
- api_key: []
tags:
- name: Areas
  description: The API Evangelist areas taxonomy — curated topic collections (authentication, webhooks, payments, …), each a scored provider index with its own site. Pro.
paths:
  /areas:
    get:
      operationId: listAreas
      x-tier: pro
      x-mcp-tool: find_areas
      security: []
      tags:
      - Areas
      summary: List and filter areas (Pro).
      description: The API Evangelist areas taxonomy — curated topic collections (authentication, webhooks, payments, …), each a scored provider index with its own site. Filter by free text; sort by provider count. Pro tier.
      parameters:
      - $ref: '#/components/parameters/Q'
      - name: sort
        in: query
        description: Sort order.
        schema:
          type: string
          enum:
          - provider_count
          - api_count
          - name
          default: provider_count
          maxLength: 1024
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List and filter areas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreaList'
              example:
                meta:
                  total: 77
                  page: 1
                  limit: 2
                  pages: 39
                  query: {}
                data:
                - slug: machine-learning
                  name: Machine Learning
                  short: ''
                  description: An index and topic collection covering machine learning APIs, MLOps platforms, model serving infrastructure, and inference providers. Machine learning APIs span the full ML…
                  aliases: []
                  provider_count: 1121
                  api_count: 480
                  area_url: https://machine-learning.apievangelist.com
                  area_host: machine-learning.apievangelist.com
                  icon: https://machine-learning.apievangelist.com/icon-thumb.png
                  _type: area
                - slug: security
                  name: Security
                  short: ''
                  description: An index and topic collection covering API security, identity, access management, secrets management, encryption, and threat protection. API security spans the full lifecycle of…
                  aliases: []
                  provider_count: 796
                  api_count: 849
                  area_url: https://security.apievangelist.com
                  area_host: security.apievangelist.com
                  icon: https://security.apievangelist.com/icon-thumb.png
                  _type: area
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/UpgradeRequired'
  /areas/{slug}:
    get:
      operationId: getArea
      x-tier: pro
      x-mcp-tool: get_area
      security: []
      tags:
      - Areas
      summary: Get one area, with its ranked providers (Pro).
      description: Returns a single area by slug, including its description, site link, counts, and the member providers ranked by score. Pro tier.
      parameters:
      - name: slug
        in: path
        required: true
        description: Area slug (e.g. `authentication`).
        schema:
          type: string
          maxLength: 1024
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Get one area, with its ranked providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Area'
              example:
                slug: machine-learning
                name: Machine Learning
                short: ''
                description: An index and topic collection covering machine learning APIs, MLOps platforms, model serving infrastructure, and inference providers. Machine learning APIs span the full ML…
                aliases: []
                area_url: https://machine-learning.apievangelist.com
                area_host: machine-learning.apievangelist.com
                icon: https://machine-learning.apievangelist.com/icon-thumb.png
                provider_count: 1121
                api_count: 480
                providers:
                  total: 30
                  top:
                  - slug: anthropic
                    name: Anthropic
                    description: Anthropic is an AI safety company and creator of the Claude family of large language models (Opus, Sonnet, Haiku). The Claude API provides access to Claude models for text generation, vision, tool use, extended thinking, batch processing, and agentic workflows including managed agents, skills, memo…
                    api_count: 24
                    score_band: exemplar
                    score_composite: 68.9
                    shared: 1
                  - slug: google-analytics
                    name: Google Analytics
                    description: Google Analytics provides data and insights about website and app usage, enabling businesses to understand their audience and optimize their digital properties through customer-centric measurement, machine learning insights, and cross-platform attribution.
                    api_count: 13
                    score_band: exemplar
                    score_composite: 68.4
                    shared: 1
                _type: area
                members_note: Top 2 shown per list. Use find_providers?area=machine-learning for the full, ranked, paginated set. view=full returns every member here.
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '403':
          $ref: '#/components/responses/UpgradeRequired'
        '404':
          $ref: '#/components/responses/NotFound'
  /areas/{slug}/leaders:
    get:
      operationId: getAreaLeaders
      x-tier: pro
      x-mcp-tool: get_area_leaders
      x-agent-skill: shortlist-vendors
      security: []
      tags:
      - Areas
      summary: Top-rated providers in a curated area.
      description: Returns the highest-composite-scoring member providers of a curated API Evangelist area.
      parameters:
      - name: slug
        in: path
        required: true
        description: Area slug (e.g. `authentication`).
        schema:
          type: string
          maxLength: 1024
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of the area's top providers.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    RankedProvider:
      type: object
      description: A provider summary as it appears in an industry or region membership list.
      properties:
        slug:
          type: string
          maxLength: 1024
        name:
          type: string
          maxLength: 1024
        description:
          type: string
          maxLength: 20000
        api_count:
          type: integer
          maximum: 1000
        image:
          type: string
          format: uri
          maxLength: 2048
        score_band:
          $ref: '#/components/schemas/Band'
        score_composite:
          type: number
          minimum: 0
          maximum: 100
      required:
      - slug
      - name
    Meta:
      type: object
      description: Pagination and echoed-query metadata for collection responses.
      properties:
        total:
          type: integer
          description: Total matching items across all pages.
          maximum: 1000000
        page:
          type: integer
          maximum: 1000000
        limit:
          type: integer
          maximum: 1000
        pages:
          type: integer
          description: Total number of pages.
          maximum: 1000000
        query:
          type: object
          additionalProperties: true
          description: The effective query parameters, echoed back.
      required:
      - total
      - page
      - limit
      - pages
    AreaList:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Area'
          maxItems: 1000
      required:
      - meta
      - data
    Problem:
      type: object
      description: 'A Problem Details object per [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457).

        Served as `application/problem+json`. Extension members (e.g. `parameter`) may be

        added alongside the standard fields.

        '
      properties:
        type:
          type: string
          format: uri
          default: about:blank
          description: A URI identifying the problem type; dereferences to human-readable docs.
          examples:
          - https://apis.io/problems/invalid-parameter
          maxLength: 2048
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          examples:
          - Invalid parameter
          maxLength: 1024
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: The HTTP status code, repeated for convenience.
          examples:
          - 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence.
          maxLength: 20000
        instance:
          type: string
          format: uri-reference
          description: A URI reference identifying the specific occurrence (typically the request path).
          maxLength: 2048
        parameter:
          type: string
          description: Extension member — the offending query/path parameter, when applicable.
          maxLength: 1024
      required:
      - type
      - title
      - status
      additionalProperties: true
    Area:
      type: object
      description: A curated API Evangelist area — a topic collection with its own scored provider index and dedicated site.
      properties:
        slug:
          type: string
          examples:
          - authentication
          maxLength: 1024
        name:
          type: string
          examples:
          - Authentication
          maxLength: 1024
        short:
          type: string
          description: One-line summary.
          maxLength: 1024
        description:
          type: string
          maxLength: 20000
        aliases:
          type: array
          items:
            type: string
            maxLength: 1024
          maxItems: 1000
        area_url:
          type: string
          description: The area's dedicated site.
          examples:
          - https://authentication.apievangelist.com
          format: uri
          maxLength: 2048
        area_host:
          type: string
          maxLength: 1024
        icon:
          type: string
          maxLength: 1024
        provider_count:
          type: integer
          maximum: 1000
        api_count:
          type: integer
          maximum: 1000
        providers:
          type: array
          description: Member providers, ranked by score. Returned on the single-area endpoint; omitted from list responses by default.
          items:
            $ref: '#/components/schemas/RankedProvider'
          maxItems: 1000
      required:
      - slug
      - name
    Band:
      type: string
      description: Rating band derived from the composite score.
      enum:
      - exemplar
      - strong
      - developing
      - thin
      - minimal
      maxLength: 1024
  responses:
    BadRequest:
      description: Malformed request (bad parameter value).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://apis.io/problems/invalid-parameter
            title: Invalid parameter
            status: 400
            detail: '`match` must be one of: any, all.'
            instance: /v1/search
            parameter: match
    UpgradeRequired:
      description: This operation requires the Pro tier. Send a valid `X-API-Key` for a paid tier.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://apis.io/problems/upgrade-required
            title: Upgrade required
            status: 403
            detail: The areas endpoint requires the Pro or Business tier.
            instance: /v1/areas
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://apis.io/problems/not-found
            title: Resource not found
            status: 404
            detail: No API found with aid `twilio:nope`.
            instance: /v1/apis/twilio:nope
  headers:
    XRateLimitTier:
      description: The tier this request was served on -- `free`, `starter`, `pro`, `business`, `internal` or `owner`. Keyless requests are `free`.
      schema:
        type: string
        examples:
        - free
    XRateLimitLimit:
      description: The rolling daily request quota for the tier that served this response.
      schema:
        type: integer
        examples:
        - 1000
    XRateLimitWindow:
      description: The quota window in seconds. Always 86400 (one rolling day).
      schema:
        type: integer
        examples:
        - 86400
    RateLimitPolicy:
      description: 'The rate-limit policy in force for the tier that served this response, in RFC 9331 quota-policy syntax: `"quota";q=1000;w=86400, "burst";q=5;w=1` -- a rolling daily quota and a per-second burst. This is the POLICY, not a live counter: `RateLimit-Remaining` and `RateLimit-Reset` are not sent, because the quota is enforced by the gateway and there is no per-key usage accounting to read. Pace against the policy and treat 429 as authoritative.'
      schema:
        type: string
        examples:
        - '"quota";q=1000;w=86400, "burst";q=5;w=1'
  parameters:
    Q:
      name: q
      in: query
      description: Free-text query over name and description (and tags where applicable).
      schema:
        type: string
        maxLength: 1024
    Fields:
      name: fields
      in: query
      description: Sparse fieldset — comma-separated property names to return.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    Page:
      name: page
      in: query
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
        default: 1
        maximum: 1000000
    Limit:
      name: limit
      in: query
      description: Items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
