openapi: 3.1.0
info:
  title: APIs.io Tags API
  version: 1.2.1
  description: |-
    The tag taxonomy, with network-wide ranking metadata.

    This is the Tags surface of the [APIs.io API](https://apis.io/api/v1) — one of 12 contracts split from the full API by tag, each documented and governed on its own. See the APIs.json index for the whole set.
  contact:
    name: API Evangelist
    url: https://apis.io
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
  - url: https://apis.io/api/v1
    description: Production server.
tags:
  - name: Tags
    description: The tag taxonomy, with network-wide ranking metadata.
paths:
  /tags:
    get:
      operationId: listTags
      tags:
        - Tags
      summary: List and rank tags.
      description: |
        The tag taxonomy with network-wide ranking metadata (`composite`, `frequency`,
        `breadth`, `quality_lift`, `band`). Default sort is by `composite` score.
      parameters:
        - $ref: "#/components/parameters/Q"
        - name: band
          in: query
          description: Filter by quality band.
          schema:
            type: string
            enum:
              - strong
              - healthy
              - stale
              - weak
            maxLength: 1024
        - name: min_api_count
          in: query
          description: Only tags applied to at least this many APIs.
          schema:
            type: integer
            minimum: 0
            maximum: 1000
        - name: sort
          in: query
          description: Sort order (composite by default).
          schema:
            type: string
            enum:
              - composite
              - frequency
              - breadth
              - quality_lift
              - api_count
              - provider_count
              - name
            default: composite
            maxLength: 1024
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of tags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagList"
      security: []
  /tags/{slug}:
    get:
      operationId: getTag
      tags:
        - Tags
      summary: Get one tag, with its linked providers, APIs, and neighbors.
      description: Returns a single tag by slug, including its network-wide ranking metadata, name variants, neighbor tags, and the providers and APIs it is applied to.
      parameters:
        - name: slug
          in: path
          required: true
          description: Tag slug (e.g. `messaging`).
          schema:
            type: string
            maxLength: 1024
        - $ref: "#/components/parameters/Fields"
      responses:
        "200":
          description: The tag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
        "404":
          $ref: "#/components/responses/NotFound"
      security: []
components:
  parameters:
    Fields:
      name: fields
      in: query
      description: Sparse fieldset — comma-separated property names to return.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    Limit:
      name: limit
      in: query
      description: Items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Page:
      name: page
      in: query
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
        default: 1
        maximum: 1000000
    Q:
      name: q
      in: query
      description: Free-text query over name and description (and tags where applicable).
      schema:
        type: string
        maxLength: 1024
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            type: https://apis.io/problems/not-found
            title: Resource not found
            status: 404
            detail: No API found with aid `twilio:nope`.
            instance: /v1/apis/twilio:nope
  schemas:
    Band:
      type: string
      description: Rating band derived from the composite score.
      enum:
        - exemplar
        - strong
        - developing
        - thin
        - minimal
      maxLength: 1024
    Facets:
      type: object
      description: The six facet scores, each 0–100.
      properties:
        discoverability:
          type: number
          minimum: 0
          maximum: 100
          description: Discoverability facet score (weight 0.10).
        contract_quality:
          type: number
          minimum: 0
          maximum: 100
          description: Contract Quality facet score (weight 0.25).
        governance:
          type: number
          minimum: 0
          maximum: 100
          description: Governance facet score (weight 0.12).
        operational_transparency:
          type: number
          minimum: 0
          maximum: 100
          description: Operational Transparency facet score (weight 0.13).
        developer_ergonomics:
          type: number
          minimum: 0
          maximum: 100
          description: Developer Ergonomics facet score (weight 0.20).
        commercial_clarity:
          type: number
          minimum: 0
          maximum: 100
          description: Commercial Clarity facet score (weight 0.20).
    Link:
      type: object
      properties:
        type:
          type: string
          description: Link/relationship type (e.g. Documentation, Website, GitHub, Pricing).
          maxLength: 1024
        url:
          type: string
          format: uri
          maxLength: 2048
        title:
          type: string
          maxLength: 1024
      required:
        - type
        - url
    Meta:
      type: object
      description: Pagination and echoed-query metadata for collection responses.
      properties:
        total:
          type: integer
          description: Total matching items across all pages.
          maximum: 1000000
        page:
          type: integer
          maximum: 1000000
        limit:
          type: integer
          maximum: 1000
        pages:
          type: integer
          description: Total number of pages.
          maximum: 1000000
        query:
          type: object
          additionalProperties: true
          description: The effective query parameters, echoed back.
      required:
        - total
        - page
        - limit
        - pages
    Problem:
      type: object
      description: |
        A Problem Details object per [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457).
        Served as `application/problem+json`. Extension members (e.g. `parameter`) may be
        added alongside the standard fields.
      properties:
        type:
          type: string
          format: uri
          default: about:blank
          description: A URI identifying the problem type; dereferences to human-readable docs.
          examples:
            - https://apis.io/problems/invalid-parameter
          maxLength: 2048
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          examples:
            - Invalid parameter
          maxLength: 1024
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: The HTTP status code, repeated for convenience.
          examples:
            - 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence.
          maxLength: 20000
        instance:
          type: string
          format: uri-reference
          description: A URI reference identifying the specific occurrence (typically the request path).
          maxLength: 2048
        parameter:
          type: string
          description: Extension member — the offending query/path parameter, when applicable.
          maxLength: 1024
      required:
        - type
        - title
        - status
      additionalProperties: true
    Provider:
      type: object
      description: An organization publishing one or more APIs.
      properties:
        slug:
          type: string
          examples:
            - twilio
          maxLength: 1024
        name:
          type: string
          maxLength: 1024
        description:
          type: string
          maxLength: 20000
        api_count:
          type: integer
          maximum: 1000
        image:
          type: string
          format: uri
          maxLength: 2048
        created:
          type: string
          format: date
          maxLength: 10
        common:
          type: array
          description: Provider-wide links (Website, Docs, Pricing, GitHub, social, …).
          items:
            $ref: "#/components/schemas/Link"
          maxItems: 1000
        apis:
          type: array
          description: Summary list of the provider's APIs.
          items:
            type: object
            properties:
              name:
                type: string
                maxLength: 1024
              slug:
                type: string
                maxLength: 1024
              description:
                type: string
                maxLength: 20000
          maxItems: 1000
        tags:
          type: array
          description: Tag names in Title Case (e.g. Messaging, Authentication).
          items:
            type: string
            maxLength: 1024
          examples:
            - - Messaging
              - Authentication
          maxItems: 1000
        score:
          $ref: "#/components/schemas/ProviderScore"
      required:
        - slug
        - name
    ProviderScore:
      type: object
      description: A provider's rating, rubric v0.3.
      properties:
        composite:
          type: number
          minimum: 0
          maximum: 100
          description: Weighted composite of the six facets.
          examples:
            - 66.3
        band:
          $ref: "#/components/schemas/Band"
        trend:
          $ref: "#/components/schemas/Trend"
        delta:
          type: number
          description: Composite change since the previous snapshot.
          examples:
            - 0
          maximum: 1000000000
        previous_composite:
          type: number
          minimum: 0
          maximum: 100
        scored_at:
          type: string
          format: date
          maxLength: 10
        schema_version:
          type: string
          examples:
            - "0.3"
          maxLength: 1024
        facets:
          $ref: "#/components/schemas/Facets"
      required:
        - composite
        - band
    Tag:
      type: object
      description: A tag in the taxonomy, with network-wide ranking metadata.
      properties:
        slug:
          type: string
          examples:
            - messaging
          maxLength: 1024
        name:
          type: string
          examples:
            - Messaging
          maxLength: 1024
        composite:
          type: number
          description: Composite ranking score.
          maximum: 1000000000
        band:
          type: string
          enum:
            - strong
            - healthy
            - stale
            - weak
          maxLength: 1024
        frequency:
          type: number
          maximum: 1000000000
        breadth:
          type: number
          maximum: 1000000000
        quality_lift:
          type: number
          maximum: 1000000000
        provider_count:
          type: integer
          maximum: 1000
        api_count:
          type: integer
          maximum: 1000
        variants:
          type: array
          items:
            type: string
            maxLength: 1024
          maxItems: 1000
        neighbors:
          type: array
          description: Related tags.
          items:
            $ref: "#/components/schemas/TagRef"
          maxItems: 1000
        providers:
          type: array
          items:
            $ref: "#/components/schemas/Provider"
          maxItems: 1000
        apis:
          type: array
          items:
            type: object
            properties:
              provider:
                type: string
                maxLength: 1024
              slug:
                type: string
                maxLength: 1024
              name:
                type: string
                maxLength: 1024
          maxItems: 1000
      required:
        - slug
        - name
    TagList:
      type: object
      properties:
        meta:
          $ref: "#/components/schemas/Meta"
        data:
          type: array
          items:
            $ref: "#/components/schemas/Tag"
          maxItems: 1000
      required:
        - meta
        - data
    TagRef:
      type: object
      properties:
        slug:
          type: string
          maxLength: 1024
        name:
          type: string
          maxLength: 1024
    Trend:
      type: string
      description: Week-over-week movement in composite score (±5 thresholds).
      enum:
        - rising
        - flat
        - falling
      maxLength: 1024
