openapi: 3.1.0
info:
  title: APIs.io Areas API
  version: 1.2.1
  description: |-
    The API Evangelist areas taxonomy — curated topic collections (authentication, webhooks, payments, …), each a scored provider index with its own site. Pro.

    This is the Areas surface of the [APIs.io API](https://apis.io/api/v1) — one of eleven contracts split from the full API by tag, each documented and governed on its own. See the APIs.json index for the whole set.
  contact:
    name: API Evangelist
    url: https://apis.io
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
  - url: https://apis.io/api/v1
    description: Production server.
tags:
  - name: Areas
    description: The API Evangelist areas taxonomy — curated topic collections (authentication, webhooks, payments, …), each a scored provider index with its own site. Pro.
paths:
  /areas:
    get:
      operationId: listAreas
      x-tier: pro
      x-mcp-tool: find_areas
      security: []
      tags:
        - Areas
      summary: List and filter areas (Pro).
      description: The API Evangelist areas taxonomy — curated topic collections (authentication, webhooks, payments, …), each a scored provider index with its own site. Filter by free text; sort by provider count. Pro tier.
      parameters:
        - $ref: "#/components/parameters/Q"
        - name: sort
          in: query
          description: Sort order.
          schema:
            type: string
            enum:
              - provider_count
              - api_count
              - name
            default: provider_count
            maxLength: 1024
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: List and filter areas.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AreaList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/UpgradeRequired"
  /areas/{slug}:
    get:
      operationId: getArea
      x-tier: pro
      x-mcp-tool: get_area
      security: []
      tags:
        - Areas
      summary: Get one area, with its ranked providers (Pro).
      description: Returns a single area by slug, including its description, site link, counts, and the member providers ranked by score. Pro tier.
      parameters:
        - name: slug
          in: path
          required: true
          description: Area slug (e.g. `authentication`).
          schema:
            type: string
            maxLength: 1024
        - $ref: "#/components/parameters/Fields"
      responses:
        "200":
          description: Get one area, with its ranked providers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Area"
        "403":
          $ref: "#/components/responses/UpgradeRequired"
        "404":
          $ref: "#/components/responses/NotFound"
  /areas/{slug}/leaders:
    get:
      operationId: getAreaLeaders
      x-tier: pro
      x-mcp-tool: get_area_leaders
      x-agent-skill: shortlist-vendors
      security: []
      tags:
        - Areas
      summary: Top-rated providers in a curated area.
      description: Returns the highest-composite-scoring member providers of a curated API Evangelist area.
      parameters:
        - name: slug
          in: path
          required: true
          description: Area slug (e.g. `authentication`).
          schema:
            type: string
            maxLength: 1024
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of the area's top providers.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          $ref: "#/components/responses/NotFound"
components:
  parameters:
    Fields:
      name: fields
      in: query
      description: Sparse fieldset — comma-separated property names to return.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    Limit:
      name: limit
      in: query
      description: Items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Page:
      name: page
      in: query
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
        default: 1
        maximum: 1000000
    Q:
      name: q
      in: query
      description: Free-text query over name and description (and tags where applicable).
      schema:
        type: string
        maxLength: 1024
  responses:
    BadRequest:
      description: Malformed request (bad parameter value).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            type: https://apis.io/problems/invalid-parameter
            title: Invalid parameter
            status: 400
            detail: "`match` must be one of: any, all."
            instance: /v1/search
            parameter: match
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            type: https://apis.io/problems/not-found
            title: Resource not found
            status: 404
            detail: No API found with aid `twilio:nope`.
            instance: /v1/apis/twilio:nope
    UpgradeRequired:
      description: This operation requires the Pro tier. Send a valid `X-API-Key` for a paid tier.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            type: https://apis.io/problems/upgrade-required
            title: Upgrade required
            status: 403
            detail: The areas endpoint requires the Pro or Business tier.
            instance: /v1/areas
  schemas:
    Area:
      type: object
      description: A curated API Evangelist area — a topic collection with its own scored provider index and dedicated site.
      properties:
        slug:
          type: string
          examples:
            - authentication
          maxLength: 1024
        name:
          type: string
          examples:
            - Authentication
          maxLength: 1024
        short:
          type: string
          description: One-line summary.
          maxLength: 1024
        description:
          type: string
          maxLength: 20000
        aliases:
          type: array
          items:
            type: string
            maxLength: 1024
          maxItems: 1000
        area_url:
          type: string
          description: The area's dedicated site.
          examples:
            - https://authentication.apievangelist.com
          format: uri
          maxLength: 2048
        area_host:
          type: string
          maxLength: 1024
        icon:
          type: string
          maxLength: 1024
        provider_count:
          type: integer
          maximum: 1000
        api_count:
          type: integer
          maximum: 1000
        providers:
          type: array
          description: Member providers, ranked by score. Returned on the single-area endpoint; omitted from list responses by default.
          items:
            $ref: "#/components/schemas/RankedProvider"
          maxItems: 1000
      required:
        - slug
        - name
    AreaList:
      type: object
      properties:
        meta:
          $ref: "#/components/schemas/Meta"
        data:
          type: array
          items:
            $ref: "#/components/schemas/Area"
          maxItems: 1000
      required:
        - meta
        - data
    Band:
      type: string
      description: Rating band derived from the composite score.
      enum:
        - exemplar
        - strong
        - developing
        - thin
        - minimal
      maxLength: 1024
    Meta:
      type: object
      description: Pagination and echoed-query metadata for collection responses.
      properties:
        total:
          type: integer
          description: Total matching items across all pages.
          maximum: 1000000
        page:
          type: integer
          maximum: 1000000
        limit:
          type: integer
          maximum: 1000
        pages:
          type: integer
          description: Total number of pages.
          maximum: 1000000
        query:
          type: object
          additionalProperties: true
          description: The effective query parameters, echoed back.
      required:
        - total
        - page
        - limit
        - pages
    Problem:
      type: object
      description: |
        A Problem Details object per [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457).
        Served as `application/problem+json`. Extension members (e.g. `parameter`) may be
        added alongside the standard fields.
      properties:
        type:
          type: string
          format: uri
          default: about:blank
          description: A URI identifying the problem type; dereferences to human-readable docs.
          examples:
            - https://apis.io/problems/invalid-parameter
          maxLength: 2048
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          examples:
            - Invalid parameter
          maxLength: 1024
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: The HTTP status code, repeated for convenience.
          examples:
            - 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence.
          maxLength: 20000
        instance:
          type: string
          format: uri-reference
          description: A URI reference identifying the specific occurrence (typically the request path).
          maxLength: 2048
        parameter:
          type: string
          description: Extension member — the offending query/path parameter, when applicable.
          maxLength: 1024
      required:
        - type
        - title
        - status
      additionalProperties: true
    RankedProvider:
      type: object
      description: A provider summary as it appears in an industry or region membership list.
      properties:
        slug:
          type: string
          maxLength: 1024
        name:
          type: string
          maxLength: 1024
        description:
          type: string
          maxLength: 20000
        api_count:
          type: integer
          maximum: 1000
        image:
          type: string
          format: uri
          maxLength: 2048
        score_band:
          $ref: "#/components/schemas/Band"
        score_composite:
          type: number
          minimum: 0
          maximum: 100
      required:
        - slug
        - name
