openapi: 3.1.0
info:
  title: APIs.io Industries API
  version: 1.2.1
  description: |-
    Industry verticals grouping providers across the catalog.

    This is the Industries surface of the [APIs.io API](https://apis.io/api/v1) — one of 12 contracts split from the full API by tag, each documented and governed on its own. See the APIs.json index for the whole set.
  contact:
    name: API Evangelist
    url: https://apis.io
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
  - url: https://apis.io/api/v1
    description: Production server.
tags:
  - name: Industries
    description: Industry verticals grouping providers across the catalog.
paths:
  /industries:
    get:
      operationId: listIndustries
      x-tier: pro
      x-mcp-tool: find_industries
      security: []
      tags:
        - Industries
      summary: List and filter industries.
      description: The industry taxonomy — verticals grouping providers across the catalog. Filter by free text; sort by provider or API count.
      parameters:
        - $ref: "#/components/parameters/Q"
        - name: sort
          in: query
          description: Sort order.
          schema:
            type: string
            enum:
              - provider_count
              - api_count
              - name
            default: provider_count
            maxLength: 1024
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: List and filter industries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndustryList"
        "400":
          $ref: "#/components/responses/BadRequest"
  /industries/{slug}:
    get:
      operationId: getIndustry
      x-tier: pro
      x-mcp-tool: get_industry
      security: []
      tags:
        - Industries
      summary: Get one industry, with its ranked providers.
      description: Returns a single industry by slug, including its aliases, counts, and the member providers ranked by score.
      parameters:
        - name: slug
          in: path
          required: true
          description: Industrie slug (e.g. `media-entertainment`).
          schema:
            type: string
            maxLength: 1024
        - $ref: "#/components/parameters/Fields"
      responses:
        "200":
          description: Get one industry, with its ranked providers.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Industry"
        "404":
          $ref: "#/components/responses/NotFound"
  /industries/{slug}/leaders:
    get:
      operationId: getIndustryLeaders
      x-tier: pro
      x-mcp-tool: get_industry_leaders
      x-agent-skill: shortlist-vendors
      security: []
      tags:
        - Industries
      summary: Top-rated providers in an industry.
      description: Returns the highest-composite-scoring member providers of an industry vertical.
      parameters:
        - name: slug
          in: path
          required: true
          description: Industry slug (e.g. `financial-services`).
          schema:
            type: string
            maxLength: 1024
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: A page of the industry's top providers.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          $ref: "#/components/responses/NotFound"
components:
  parameters:
    Fields:
      name: fields
      in: query
      description: Sparse fieldset — comma-separated property names to return.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    Limit:
      name: limit
      in: query
      description: Items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Page:
      name: page
      in: query
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
        default: 1
        maximum: 1000000
    Q:
      name: q
      in: query
      description: Free-text query over name and description (and tags where applicable).
      schema:
        type: string
        maxLength: 1024
  responses:
    BadRequest:
      description: Malformed request (bad parameter value).
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            type: https://apis.io/problems/invalid-parameter
            title: Invalid parameter
            status: 400
            detail: "`match` must be one of: any, all."
            instance: /v1/search
            parameter: match
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            type: https://apis.io/problems/not-found
            title: Resource not found
            status: 404
            detail: No API found with aid `twilio:nope`.
            instance: /v1/apis/twilio:nope
  schemas:
    Band:
      type: string
      description: Rating band derived from the composite score.
      enum:
        - exemplar
        - strong
        - developing
        - thin
        - minimal
      maxLength: 1024
    Industry:
      type: object
      description: An industry vertical grouping providers across the catalog.
      properties:
        slug:
          type: string
          examples:
            - media-entertainment
          maxLength: 1024
        name:
          type: string
          examples:
            - Media & Entertainment
          maxLength: 1024
        short:
          type: string
          description: One-line summary.
          maxLength: 1024
        description:
          type: string
          maxLength: 20000
        aliases:
          type: array
          items:
            type: string
            maxLength: 1024
          maxItems: 1000
        provider_count:
          type: integer
          maximum: 1000
        api_count:
          type: integer
          maximum: 1000
        providers:
          type: array
          description: Member providers, ranked by score. Returned on the single-industry endpoint; omitted from list responses by default.
          items:
            $ref: "#/components/schemas/RankedProvider"
          maxItems: 1000
      required:
        - slug
        - name
    IndustryList:
      type: object
      properties:
        meta:
          $ref: "#/components/schemas/Meta"
        data:
          type: array
          items:
            $ref: "#/components/schemas/Industry"
          maxItems: 1000
      required:
        - meta
        - data
    Meta:
      type: object
      description: Pagination and echoed-query metadata for collection responses.
      properties:
        total:
          type: integer
          description: Total matching items across all pages.
          maximum: 1000000
        page:
          type: integer
          maximum: 1000000
        limit:
          type: integer
          maximum: 1000
        pages:
          type: integer
          description: Total number of pages.
          maximum: 1000000
        query:
          type: object
          additionalProperties: true
          description: The effective query parameters, echoed back.
      required:
        - total
        - page
        - limit
        - pages
    Problem:
      type: object
      description: |
        A Problem Details object per [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457).
        Served as `application/problem+json`. Extension members (e.g. `parameter`) may be
        added alongside the standard fields.
      properties:
        type:
          type: string
          format: uri
          default: about:blank
          description: A URI identifying the problem type; dereferences to human-readable docs.
          examples:
            - https://apis.io/problems/invalid-parameter
          maxLength: 2048
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          examples:
            - Invalid parameter
          maxLength: 1024
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: The HTTP status code, repeated for convenience.
          examples:
            - 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence.
          maxLength: 20000
        instance:
          type: string
          format: uri-reference
          description: A URI reference identifying the specific occurrence (typically the request path).
          maxLength: 2048
        parameter:
          type: string
          description: Extension member — the offending query/path parameter, when applicable.
          maxLength: 1024
      required:
        - type
        - title
        - status
      additionalProperties: true
    RankedProvider:
      type: object
      description: A provider summary as it appears in an industry or region membership list.
      properties:
        slug:
          type: string
          maxLength: 1024
        name:
          type: string
          maxLength: 1024
        description:
          type: string
          maxLength: 20000
        api_count:
          type: integer
          maximum: 1000
        image:
          type: string
          format: uri
          maxLength: 2048
        score_band:
          $ref: "#/components/schemas/Band"
        score_composite:
          type: number
          minimum: 0
          maximum: 100
      required:
        - slug
        - name
