openapi: 3.2.0
info:
  title: .io Search Artifact Types API
  description: This is the technical API contract for the search API for the APIs.io search engine.
  version: 0.1.0
  contact:
    name: Kin Lane
    email: info@apievangelist.com
servers:
- url: https://apis.io/api/v1
  description: Production server.
security:
- {}
- api_key: []
tags:
- name: Artifact Types
  description: First-class, per-type artifact collections (OpenAPI, AsyncAPI, Arazzo, Postman, JSON Schema, and more). Each path filters and normalizes one artifact type across all providers.
paths:
  /openapis:
    get:
      operationId: listOpenapis
      tags:
      - Artifact Types
      summary: List openapi specifications across the catalog.
      description: First-class collection of openapi specifications across every provider on the network. Surfaces and normalizes the `OpenAPI` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of openapi specifications with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 97990
                  page: 1
                  limit: 2
                  pages: 48995
                  query:
                    type: openapis
                data:
                - aid: 01-ai:01-ai-chat-api
                  provider_slug: 01-ai
                  name: 01.AI Chat API
                  type: OpenAPI
                  url: https://raw.githubusercontent.com/api-evangelist/01-ai/refs/heads/main/openapi/01-ai-chat-api-openapi.yml
                - aid: 0g-labs:0g-labs-account-api
                  provider_slug: 0g-labs
                  name: 0G Labs Account API
                  type: OpenAPI
                  url: https://raw.githubusercontent.com/api-evangelist/0g-labs/refs/heads/main/openapi/0g-labs-account-api-openapi.yml
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /asyncapis:
    get:
      operationId: listAsyncapis
      tags:
      - Artifact Types
      summary: List asyncapi specifications across the catalog.
      description: First-class collection of asyncapi specifications across every provider on the network. Surfaces and normalizes the `AsyncAPI` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of asyncapi specifications with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 2408
                  page: 1
                  limit: 2
                  pages: 1204
                  query:
                    type: asyncapis
                data:
                - type: AsyncAPI
                  slug: 10web-webhooks
                  name: 10Web Webhooks
                  provider_slug: 10web
                  provider_name: 10Web
                  description: '10Web Webhooks is an event-driven AsyncAPI specification published by [10Web](https://apis.io/providers/10web/) on the [APIs.io](https://apis.io/) network.


                    Tagged areas include Company, Artificial In'
                  tags:
                  - Company
                  - Artificial Intelligence
                  - Website Builder
                  - WordPress
                  - Hosting
                  - Website Generation
                  - No-Code
                  - AsyncAPI
                  - Webhooks
                  - Events
                  url: https://raw.githubusercontent.com/api-evangelist/10web/refs/heads/main/asyncapi/10web-webhooks.yml
                  meta:
                    version: ''
                - type: AsyncAPI
                  slug: 180-insurance-webhooks
                  name: 180 Insurance Webhooks
                  provider_slug: 180-insurance
                  provider_name: 180 Insurance
                  description: '180 Insurance Webhooks is an event-driven AsyncAPI specification published by [180 Insurance](https://apis.io/providers/180-insurance/) on the [APIs.io](https://apis.io/) network.


                    Tagged areas includ'
                  tags:
                  - Company
                  - Insurtech
                  - Insurance
                  - Embedded Insurance
                  - Brazil
                  - Fintech
                  - Webhook
                  - AsyncAPI
                  - Webhooks
                  - Events
                  url: https://raw.githubusercontent.com/api-evangelist/180-insurance/refs/heads/main/asyncapi/180-insurance-webhooks.yml
                  meta:
                    version: ''
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /arazzo:
    get:
      operationId: listArazzo
      tags:
      - Artifact Types
      summary: List arazzo workflows across the catalog.
      description: First-class collection of arazzo workflows across every provider on the network. Surfaces and normalizes the `Arazzo` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of arazzo workflows with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 4976
                  page: 1
                  limit: 2
                  pages: 2488
                  query:
                    type: arazzo
                data:
                - type: Arazzo
                  slug: 123formbuilder-authenticate-and-list-forms-workflow
                  name: 123FormBuilder Authenticate and List Forms
                  provider_slug: 123formbuilder
                  provider_name: 123FormBuilder
                  description: Obtain a JWT token and list the forms available to the authenticated user.
                  tags:
                  - Online Forms
                  - Form Builder
                  - Surveys
                  - Workflows
                  - Data Collection
                  - Submissions
                  - Webhook
                  - HIPAA
                  - GDPR
                  - Payments
                  - Arazzo
                  - Workflows
                  url: https://raw.githubusercontent.com/api-evangelist/123formbuilder/refs/heads/main/arazzo/123formbuilder-authenticate-and-list-forms-workflow.yml
                  meta:
                    version: 1.0.0
                - type: Arazzo
                  slug: 123formbuilder-browse-group-forms-workflow
                  name: 123FormBuilder Browse a Group's Forms
                  provider_slug: 123formbuilder
                  provider_name: 123FormBuilder
                  description: Authenticate, list groups, read a chosen group's details, and list the forms it contains.
                  tags:
                  - Online Forms
                  - Form Builder
                  - Surveys
                  - Workflows
                  - Data Collection
                  - Submissions
                  - Webhook
                  - HIPAA
                  - GDPR
                  - Payments
                  - Arazzo
                  - Workflows
                  url: https://raw.githubusercontent.com/api-evangelist/123formbuilder/refs/heads/main/arazzo/123formbuilder-browse-group-forms-workflow.yml
                  meta:
                    version: 1.0.0
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /postman:
    get:
      operationId: listPostman
      tags:
      - Artifact Types
      summary: List postman collections across the catalog.
      description: First-class collection of postman collections across every provider on the network. Surfaces and normalizes the `PostmanCollection` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of postman collections with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 2034
                  page: 1
                  limit: 2
                  pages: 1017
                  query:
                    type: postman
                data:
                - aid: 100ms-live:100ms-live-active-rooms-api
                  provider_slug: 100ms-live
                  name: 100ms Active Rooms API
                  type: Postman
                  url: https://www.100ms.live/docs/server-side/v2/how-to-guides/set-up-postman
                - aid: 100ms-live:100ms-live-analytics-api
                  provider_slug: 100ms-live
                  name: 100ms Analytics API
                  type: Postman
                  url: https://www.100ms.live/docs/server-side/v2/how-to-guides/set-up-postman
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /collections:
    get:
      operationId: listCollections
      tags:
      - Artifact Types
      summary: List api collections across the catalog.
      description: First-class collection of api collections across every provider on the network. Surfaces and normalizes the `Collection`, `Collections` artifact types. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of api collections with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 123150
                  page: 1
                  limit: 2
                  pages: 61575
                  query:
                    type: collections
                data:
                - type: Collection
                  slug: postman-nfon-service-portal-api
                  name: __Official Service Portal API Collection
                  provider_slug: nfon
                  provider_name: Nfon
                  description: '__Official Service Portal API Collection is a Postman Collection published by [Nfon](https://apis.io/providers/nfon/) on the [APIs.io](https://apis.io/) network.


                    The collection contains 379 requests '
                  tags:
                  - Company
                  - Telecom
                  - Cloud Telephony
                  - UCaaS
                  - CPaaS
                  - VoIP
                  - CTI
                  - Call History
                  - PBX
                  - Communications
                  - SIP
                  - Germany
                  - Postman Collection
                  url: postman/nfon-service-portal-api.postman_collection.json
                  meta:
                    item_count: 379
                - type: Collection
                  slug: open-radius-applications-api
                  name: .Core Management APIs ApiVersions Applications API
                  provider_slug: radius
                  provider_name: Radius
                  description: .Core Management APIs ApiVersions Applications API is a Open Collection published by [Radius](https://apis.io/providers/radius/) on the [APIs.io](https://apis.io/) network, version 2023-10-01-preview.
                  tags:
                  - Application Platform
                  - Cloud-Native
                  - Infrastructure
                  - Multi-Cloud
                  - Open Collection
                  url: collections/radius-applications-api.opencollection.json
                  meta:
                    item_count: 6
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /graphql:
    get:
      operationId: listGraphql
      tags:
      - Artifact Types
      summary: List graphql schemas across the catalog.
      description: First-class collection of graphql schemas across every provider on the network. Surfaces and normalizes the `GraphQL` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of graphql schemas with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 1032
                  page: 1
                  limit: 2
                  pages: 516
                  query:
                    type: graphql
                data:
                - type: GraphQL
                  slug: 100ms-live-graphql
                  name: 100ms Live GraphQL Schema
                  provider_slug: 100ms-live
                  provider_name: 100ms
                  description: This document describes a conceptual GraphQL schema for the 100ms live video and audio infrastructure platform. 100ms provides a REST API at `api.100ms.live/v2` for managing rooms, templates, roles, p
                  tags:
                  - Live Video
                  - Live Streaming
                  - Video Conferencing
                  - WebRTC
                  - HLS
                  - RTMP
                  - Recording
                  - Real-Time Messaging
                  - Live Infrastructure
                  - India
                  - GraphQL
                  url: 100ms-live-graphql.md
                - type: GraphQL
                  slug: 15five-graphql
                  name: 15Five GraphQL Schema
                  provider_slug: 15five
                  provider_name: 15Five
                  description: 'This document describes a conceptual GraphQL schema for the 15Five continuous performance management platform. The schema is derived from the 15Five Public REST API and models the core domain objects '
                  tags:
                  - Performance Management
                  - Employee Engagement
                  - OKRs
                  - Check-ins
                  - HR
                  - Human Resources
                  - 1-on-1 Meetings
                  - Pulse Surveys
                  - GraphQL
                  url: 15five-graphql.md
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /json-schemas:
    get:
      operationId: listJsonSchemas
      tags:
      - Artifact Types
      summary: List json schema definitions across the catalog.
      description: First-class collection of json schema definitions across every provider on the network. Surfaces and normalizes the `JSONSchema` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of json schema definitions with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 121244
                  page: 1
                  limit: 2
                  pages: 60622
                  query:
                    type: json-schemas
                data:
                - type: JSONSchema
                  slug: amazon-macie-__boolean
                  name: __boolean
                  provider_slug: amazon-macie
                  provider_name: Amazon Macie
                  description: __boolean schema from Amazon Macie API
                  tags:
                  - Data Security
                  - Sensitive Data
                  - Privacy
                  - Compliance
                  - Machine-Learning
                  - S3
                  url: https://raw.githubusercontent.com/api-evangelist/amazon-macie/refs/heads/main/json-schema/amazon-macie-__boolean-schema.json
                - type: JSONSchema
                  slug: mediaconnect-api-__boolean
                  name: __boolean
                  provider_slug: amazon-mediaconnect
                  provider_name: Amazon MediaConnect
                  description: __boolean schema from AWS Elemental MediaConnect API
                  tags:
                  - Broadcasting
                  - Live Video
                  - Media
                  - Media Transport
                  url: https://raw.githubusercontent.com/api-evangelist/amazon-mediaconnect/refs/heads/main/json-schema/mediaconnect-api-__boolean-schema.json
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /json-structures:
    get:
      operationId: listJsonStructures
      tags:
      - Artifact Types
      summary: List json structure definitions across the catalog.
      description: First-class collection of json structure definitions across every provider on the network. Surfaces and normalizes the `JSONStructure` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of json structure definitions with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 52952
                  page: 1
                  limit: 2
                  pages: 26476
                  query:
                    type: json-structures
                data:
                - type: JSONStructure
                  slug: 0x-gasless-trade-structure
                  name: 0X Gasless Trade Structure
                  provider_slug: 0x
                  provider_name: 0x
                  description: 'Field-level documentation for the gasless trade lifecycle: quote → submit → status.'
                  tags:
                  - Cryptocurrency
                  - DeFi
                  - DEX Aggregator
                  - Swap
                  - Gasless
                  - Cross-Chain
                  - Permit2
                  - Liquidity
                  - Trade Analytics
                  - Web3
                  - Settlement
                  - Smart Contracts
                  url: https://raw.githubusercontent.com/api-evangelist/0x/refs/heads/main/json-structure/0x-gasless-trade-structure.json
                  meta:
                    property_count: 0
                    struct_type: object
                - type: JSONStructure
                  slug: 0x-swap-quote-structure
                  name: 0X Swap Quote Structure
                  provider_slug: 0x
                  provider_name: 0x
                  description: Field-level documentation for the firm quote payload returned by /swap/allowance-holder/quote and /swap/permit2/quote.
                  tags:
                  - Cryptocurrency
                  - DeFi
                  - DEX Aggregator
                  - Swap
                  - Gasless
                  - Cross-Chain
                  - Permit2
                  - Liquidity
                  - Trade Analytics
                  - Web3
                  - Settlement
                  - Smart Contracts
                  url: https://raw.githubusercontent.com/api-evangelist/0x/refs/heads/main/json-structure/0x-swap-quote-structure.json
                  meta:
                    property_count: 0
                    struct_type: object
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /json-ld:
    get:
      operationId: listJsonLd
      tags:
      - Artifact Types
      summary: List json-ld contexts across the catalog.
      description: First-class collection of json-ld contexts across every provider on the network. Surfaces and normalizes the `JSONLD`, `JSONLDContext` artifact types. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of json-ld contexts with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 5679
                  page: 1
                  limit: 2
                  pages: 2840
                  query:
                    type: json-ld
                data:
                - type: JSONLD
                  slug: 0x-context
                  name: 0X Context
                  provider_slug: 0x
                  provider_name: 0x
                  description: JSON-LD context defining the semantic vocabulary for 0X from 0x.
                  tags:
                  - Cryptocurrency
                  - DeFi
                  - DEX Aggregator
                  - Swap
                  - Gasless
                  - Cross-Chain
                  - Permit2
                  - Liquidity
                  - Trade Analytics
                  - Web3
                  - Settlement
                  - Smart Contracts
                  - JSON-LD
                  - Linked Data
                  - Semantic Web
                  url: https://raw.githubusercontent.com/api-evangelist/0x/refs/heads/main/json-ld/0x-context.jsonld
                  meta:
                    class_count: 45
                    property_count: 14
                - type: JSONLD
                  slug: 100ms-live-context
                  name: 100Ms Live Context
                  provider_slug: 100ms-live
                  provider_name: 100ms
                  description: JSON-LD context defining the semantic vocabulary for 100Ms Live from 100ms.
                  tags:
                  - Live Video
                  - Live Streaming
                  - Video Conferencing
                  - WebRTC
                  - HLS
                  - RTMP
                  - Recording
                  - Real-Time Messaging
                  - Live Infrastructure
                  - India
                  - JSON-LD
                  - Linked Data
                  - Semantic Web
                  url: https://raw.githubusercontent.com/api-evangelist/100ms-live/refs/heads/main/json-ld/100ms-live-context.jsonld
                  meta:
                    class_count: 45
                    property_count: 7
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /vocabularies:
    get:
      operationId: listVocabularies
      tags:
      - Artifact Types
      summary: List vocabularies across the catalog.
      description: First-class collection of vocabularies across every provider on the network. Surfaces and normalizes the `Vocabulary` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of vocabularies with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /rules:
    get:
      operationId: listRules
      tags:
      - Artifact Types
      summary: List governance rulesets across the catalog.
      description: First-class collection of governance rulesets across every provider on the network. Surfaces and normalizes the `Rules`, `SpectralRules`, `SpectralRuleset`, `Spectral` artifact types. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of governance rulesets with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 5781
                  page: 1
                  limit: 2
                  pages: 2891
                  query:
                    type: rules
                data:
                - type: Rules
                  slug: aiignore-jsonschema-spectral-rules
                  name: .AIIgnore API Rules
                  provider_slug: aiignore
                  provider_name: .AIIgnore
                  description: Spectral linting rules defining API design standards and conventions for .AIIgnore.
                  tags:
                  - AI Agents
                  - Configuration
                  - Developer Workflow
                  - Security
                  - Privacy
                  - Developer Tools
                  - LLM
                  - Secrets Management
                  - Spectral
                  - Linting
                  - API Governance
                  url: https://raw.githubusercontent.com/api-evangelist/aiignore/refs/heads/main/rules/aiignore-jsonschema-spectral-rules.yml
                  meta:
                    rule_count: 5
                - type: Rules
                  slug: clinerules-jsonschema-spectral-rules
                  name: .clinerules API Rules
                  provider_slug: clinerules
                  provider_name: .clinerules
                  description: Spectral linting rules defining API design standards and conventions for .clinerules.
                  tags:
                  - AI Agents
                  - Cline
                  - Coding Standards
                  - Configuration
                  - Developer Workflow
                  - Prompt Engineering
                  - Spectral
                  - Linting
                  - API Governance
                  url: https://raw.githubusercontent.com/api-evangelist/clinerules/refs/heads/main/rules/clinerules-jsonschema-spectral-rules.yml
                  meta:
                    rule_count: 4
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /examples:
    get:
      operationId: listExamples
      tags:
      - Artifact Types
      summary: List examples across the catalog.
      description: First-class collection of examples across every provider on the network. Surfaces and normalizes the `Example`, `Examples`, `CodeExamples` artifact types. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of examples with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 62704
                  page: 1
                  limit: 2
                  pages: 31352
                  query:
                    type: examples
                data:
                - type: Example
                  slug: 0x-cross-chain-get-quotes-example
                  name: 0X Cross Chain Get Quotes Example
                  provider_slug: 0x
                  provider_name: 0x
                  description: 0X Cross Chain Get Quotes Example is an example object payload from 0x, with 2 top-level fields. It illustrates the shape of data this provider's APIs accept or return.
                  tags:
                  - Cryptocurrency
                  - DeFi
                  - DEX Aggregator
                  - Swap
                  - Gasless
                  - Cross-Chain
                  - Permit2
                  - Liquidity
                  - Trade Analytics
                  - Web3
                  - Settlement
                  - Smart Contracts
                  url: https://raw.githubusercontent.com/api-evangelist/0x/refs/heads/main/examples/0x-cross-chain-get-quotes-example.json
                  meta:
                    key_count: 2
                - type: Example
                  slug: 0x-gasless-get-quote-example
                  name: 0X Gasless Get Quote Example
                  provider_slug: 0x
                  provider_name: 0x
                  description: 0X Gasless Get Quote Example is an example object payload from 0x, with 2 top-level fields. It illustrates the shape of data this provider's APIs accept or return.
                  tags:
                  - Cryptocurrency
                  - DeFi
                  - DEX Aggregator
                  - Swap
                  - Gasless
                  - Cross-Chain
                  - Permit2
                  - Liquidity
                  - Trade Analytics
                  - Web3
                  - Settlement
                  - Smart Contracts
                  url: https://raw.githubusercontent.com/api-evangelist/0x/refs/heads/main/examples/0x-gasless-get-quote-example.json
                  meta:
                    key_count: 2
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /finops:
    get:
      operationId: listFinops
      tags:
      - Artifact Types
      summary: List finops artifacts across the catalog.
      description: First-class collection of finops artifacts across every provider on the network. Surfaces and normalizes the `FinOps` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of finops artifacts with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 7138
                  page: 1
                  limit: 2
                  pages: 3569
                  query:
                    type: finops
                data:
                - type: FinOps
                  slug: 01-ai-finops
                  name: 01 Ai Finops
                  provider_slug: 01-ai
                  provider_name: 01.AI
                  description: FOCUS-aligned FinOps profile for 01.AI / Lingyiwanwu. Pay-as-you-go usage billing against prepaid balance, plus free self-hosted open-weight option for Yi-34B and smaller variants.
                  tags:
                  - AI
                  - LLM
                  - Yi
                  - FinOps
                  - FOCUS
                  url: https://raw.githubusercontent.com/api-evangelist/01-ai/refs/heads/main/finops/01-ai-finops.yml
                  meta:
                    billing_model:
                      billingCurrency: CNY/USD
                      billingFrequency: On-Demand (Recharge)
                      chargeCategories:
                      - Usage
                      - Purchase
                      - Adjustment
                      pricingCategory: Usage Based (Prepaid)
                - type: FinOps
                  slug: 0x-finops
                  name: 0X Finops
                  provider_slug: 0x
                  provider_name: 0x
                  description: FinOps Framework alignment for the 0x API surface. Maps the three streams of integrator cost — subscription fee, swap fee (and integrator-side monetisation), and trade-surplus capture — to the FOCUS d
                  tags:
                  - Cryptocurrency
                  - DeFi
                  - DEX Aggregator
                  - FinOps
                  - Cost Management
                  - FOCUS
                  url: https://raw.githubusercontent.com/api-evangelist/0x/refs/heads/main/finops/0x-finops.yml
                  meta:
                    billing_model: {}
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /plans:
    get:
      operationId: listPlans
      tags:
      - Artifact Types
      summary: List plans across the catalog.
      description: First-class collection of plans across every provider on the network. Surfaces and normalizes the `Plans` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of plans with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 8427
                  page: 1
                  limit: 2
                  pages: 4214
                  query:
                    type: plans
                data:
                - type: Plans
                  slug: 01-ai-plans-pricing
                  name: 01 Ai Plans Pricing
                  provider_slug: 01-ai
                  provider_name: 01.AI
                  description: 01.AI publishes pay-as-you-go per-token pricing on the Lingyiwanwu open platform. Yi-Lightning is the flagship at approximately $0.14 per million tokens; Yi-Lightning-Lite is cheaper. Yi open-source w
                  tags:
                  - AI
                  - LLM
                  - Yi
                  - Plans
                  url: https://raw.githubusercontent.com/api-evangelist/01-ai/refs/heads/main/plans/01-ai-plans-pricing.yml
                  meta:
                    plan_count: 2
                - type: Plans
                  slug: 0x-plans-pricing
                  name: 0X Plans Pricing
                  provider_slug: 0x
                  provider_name: 0x
                  description: 'Commercial pricing plans for the 0x API surface as published at https://0x.org/pricing. Two retail tiers (Standard and Custom) plus a free development tier. The 0x revenue model also includes a 0.15% '
                  tags:
                  - Cryptocurrency
                  - DeFi
                  - DEX Aggregator
                  - Swap
                  - Gasless
                  - Cross-Chain
                  url: https://raw.githubusercontent.com/api-evangelist/0x/refs/heads/main/plans/0x-plans-pricing.yml
                  meta:
                    plan_count: 3
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /rate-limits:
    get:
      operationId: listRateLimits
      tags:
      - Artifact Types
      summary: List rate limits across the catalog.
      description: First-class collection of rate limits across every provider on the network. Surfaces and normalizes the `RateLimits` artifact type. Filter by free text, provider, and tags; pass `include=content` to inline each artifact body.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of rate limits with owning API and provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 8752
                  page: 1
                  limit: 2
                  pages: 4376
                  query:
                    type: rate-limits
                data:
                - type: RateLimits
                  slug: 01-ai-rate-limits
                  name: 01 Ai Rate Limits
                  provider_slug: 01-ai
                  provider_name: 01.AI
                  description: 01.AI / Lingyiwanwu does not publish a public English rate-limit table. Limits are tier-based on the platform console. Exponential backoff with Retry-After should be honored.
                  tags:
                  - AI
                  - LLM
                  - Yi
                  - Rate Limiting
                  url: https://raw.githubusercontent.com/api-evangelist/01-ai/refs/heads/main/rate-limits/01-ai-rate-limits.yml
                  meta:
                    limit_count: 1
                - type: RateLimits
                  slug: 0g-labs-rate-limits
                  name: 0G Labs Rate Limits
                  provider_slug: 0g-labs
                  provider_name: 0G Labs
                  description: 0G Labs Rate Limits is the machine-readable rate-limit profile for [0G Labs](https://apis.io/providers/0g-labs/) on the [APIs.io](https://apis.io/) network, conforming to the [API Commons Rate Limits]
                  tags:
                  - Artificial Intelligence
                  - AI Inference
                  - LLM
                  - GPU Compute
                  - Decentralized Compute
                  - Blockchain
                  - Web3
                  - EVM
                  - Decentralized Storage
                  - Data Availability
                  - OpenAI-Compatible
                  - Trusted Execution Environment
                  - agent-native
                  - Crypto Infrastructure
                  url: https://raw.githubusercontent.com/api-evangelist/0g-labs/refs/heads/main/rate-limits/0g-labs-rate-limits.yml
                  meta:
                    limit_count: 0
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /channels:
    get:
      operationId: listChannels
      x-tier: free
      x-mcp-tool: find_artifacts
      tags:
      - Artifact Types
      summary: List AsyncAPI event channels across the catalog.
      description: First-class collection of AsyncAPI event channels across every provider — the finest-grained event/streaming discovery surface. Filter by free text, provider, and tags; `include=content` inlines each channel's spec.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of event channels with owning provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 5389
                  page: 1
                  limit: 2
                  pages: 2695
                  query:
                    type: channels
                data:
                - type: Channel
                  slug: miniticker-arr
                  name: '!miniTicker@arr'
                  provider_slug: binance.us
                  provider_name: Binance.US
                  description: 24hr rolling window mini-ticker statistics for all changed symbols. Update speed 1000ms.
                  tags: []
                  url: https://github.com/api-evangelist/binance.us/blob/main/asyncapi/binance.us-websocket-streams-asyncapi.yml
                  meta:
                    address: '!miniTicker@arr'
                    asyncapi_version: 2.6.0
                - type: Channel
                  slug: ticker-windowsize-arr
                  name: '!ticker_{windowSize}@arr'
                  provider_slug: binance.us
                  provider_name: Binance.US
                  description: Rolling window ticker statistics for all changed symbols. Update speed 1000ms.
                  tags: []
                  url: https://github.com/api-evangelist/binance.us/blob/main/asyncapi/binance.us-websocket-streams-asyncapi.yml
                  meta:
                    address: '!ticker_{windowSize}@arr'
                    asyncapi_version: 2.6.0
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /mcp:
    get:
      operationId: listMcpServers
      x-tier: free
      x-mcp-tool: find_artifacts
      tags:
      - Artifact Types
      summary: List published MCP servers across the catalog.
      description: First-class collection of provider MCP servers across the network. Filter by free text, provider, and tags; `include=content` inlines each server's card/manifest.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of MCP servers with owning provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 4209
                  page: 1
                  limit: 2
                  pages: 2105
                  query:
                    type: mcp
                data:
                - type: MCP
                  slug: coasty-mcp
                  name: '@coasty/mcp'
                  provider_slug: coasty
                  provider_name: Coasty
                  description: First-party MCP server (npx -y @coasty/mcp; remote https://api.coasty.ai/mcp) exposing 26 computer-use tools across predict, machines, schedules, account, and discovery groups.
                  tags: []
                  url: https://coasty.ai/.well-known/mcp/server-card.json
                  meta:
                    install_method: Documentation link
                - type: MCP
                  slug: 0g-router
                  name: 0g-router
                  provider_slug: 0g-labs
                  provider_name: 0G Labs
                  description: ''
                  tags: []
                  url: https://raw.githubusercontent.com/api-evangelist/0g-labs/refs/heads/main/mcp/0g-labs-mcp.yml
                  meta:
                    install_method: Candidate descriptor
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /skills:
    get:
      operationId: listSkills
      x-tier: free
      x-mcp-tool: find_artifacts
      tags:
      - Artifact Types
      summary: List published Agent Skills across the catalog.
      description: First-class collection of provider Agent Skills across the network. Filter by free text, provider, and tags; `include=content` inlines each skill.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of Agent Skills with owning provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
              example:
                meta:
                  total: 1582
                  page: 1
                  limit: 2
                  pages: 791
                  query:
                    type: skills
                data:
                - type: AgentSkill
                  slug: 7-powers-analysis
                  name: 7-powers-analysis
                  provider_slug: amplitude
                  provider_name: Amplitude
                  description: Analyze a business, product, or feature using Hamilton Helmer's 7 Powers framework to assess competitive advantage and strategic durability. Use when the user asks about competitive moats, strategic p
                  tags: []
                  url: https://github.com/amplitude/builder-skills/blob/main/product-skills/skills/7-powers/SKILL.md
                - type: AgentSkill
                  slug: acad-arx-wizard
                  name: acad-arx-wizard
                  provider_slug: autocad
                  provider_name: AutoCAD
                  description: Agentic ObjectARX project scaffolding for AutoCAD 2027 / Visual Studio 2026. Replaces the broken .vsz VsWizardEngine wizard with a PowerShell script that generates identical C++ project files. Works f
                  tags: []
                  url: https://github.com/autodesk-platform-services/skills/blob/main/skills/acad-arx-wizard/SKILL.md
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
  /scopes:
    get:
      operationId: listScopes
      x-tier: pro
      x-mcp-tool: find_artifacts
      security: []
      tags:
      - Artifact Types
      summary: List OAuth scope sets across the catalog.
      description: PRO — first-class collection of OAuth scope definitions across every provider. Filter by free text, provider, and tags; `include=content` inlines each scope set.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of OAuth scope sets with owning provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
  /security:
    get:
      operationId: listSecurity
      x-tier: pro
      x-mcp-tool: find_artifacts
      security: []
      tags:
      - Artifact Types
      summary: List security scheme definitions across the catalog.
      description: PRO — first-class collection of provider security/auth scheme definitions (authentication, domain security, VDP, trust center) across the network. Filter by free text, provider, and tags; `include=content` inlines each definition.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Providers'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/ArtifactSort'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of security definitions with owning provider context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '400':
          $ref: '#/components/responses/BadRequest'
  /providers/{slug}/artifacts:
    get:
      operationId: getProviderArtifacts
      x-tier: free
      x-mcp-tool: get_provider_artifacts
      x-agent-skill: integrate-provider
      tags:
      - Artifact Types
      summary: Every artifact a provider publishes.
      description: Aggregates all artifacts across a provider's APIs — grouped by type (OpenAPI, MCP, Arazzo, rules, security, pricing…) — plus per-type counts. One call instead of composing several.
      parameters:
      - $ref: '#/components/parameters/ProviderSlug'
      responses:
        '200':
          description: The provider's artifacts, grouped by type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '404':
          $ref: '#/components/responses/NotFound'
      security: []
  /apis/{aid}/artifacts:
    get:
      operationId: getApiArtifacts
      x-tier: free
      x-mcp-tool: get_api_artifacts
      x-agent-skill: find-api
      tags:
      - Artifact Types
      summary: One API's artifacts, grouped by type.
      description: Returns a single API's registered artifacts grouped by type with per-type counts. Pass `include=content` to inline the bodies.
      parameters:
      - $ref: '#/components/parameters/Aid'
      - $ref: '#/components/parameters/Include'
      responses:
        '200':
          description: The API's artifacts.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '404':
          $ref: '#/components/responses/NotFound'
      security: []
  /openapis/{aid}:
    get:
      operationId: getOpenapi
      x-tier: free
      x-mcp-tool: get_openapi
      x-agent-skill: integrate-provider
      tags:
      - Artifact Types
      summary: An API's primary OpenAPI.
      description: Returns the primary OpenAPI reference (url) for one API — the top agent intent. Pass `include=content` to inline the spec body.
      parameters:
      - $ref: '#/components/parameters/Aid'
      - $ref: '#/components/parameters/Include'
      responses:
        '200':
          description: The API's OpenAPI reference (and body when include=content).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
          headers:
            RateLimit-Policy:
              $ref: '#/components/headers/RateLimitPolicy'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Window:
              $ref: '#/components/headers/XRateLimitWindow'
            X-RateLimit-Tier:
              $ref: '#/components/headers/XRateLimitTier'
        '404':
          $ref: '#/components/responses/NotFound'
      security: []
components:
  schemas:
    ArtifactList:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Artifact'
          maxItems: 1000
      required:
      - meta
      - data
    Problem:
      type: object
      description: 'A Problem Details object per [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457).

        Served as `application/problem+json`. Extension members (e.g. `parameter`) may be

        added alongside the standard fields.

        '
      properties:
        type:
          type: string
          format: uri
          default: about:blank
          description: A URI identifying the problem type; dereferences to human-readable docs.
          examples:
          - https://apis.io/problems/invalid-parameter
          maxLength: 2048
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          examples:
          - Invalid parameter
          maxLength: 1024
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: The HTTP status code, repeated for convenience.
          examples:
          - 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence.
          maxLength: 20000
        instance:
          type: string
          format: uri-reference
          description: A URI reference identifying the specific occurrence (typically the request path).
          maxLength: 2048
        parameter:
          type: string
          description: Extension member — the offending query/path parameter, when applicable.
          maxLength: 1024
      required:
      - type
      - title
      - status
      additionalProperties: true
    ArtifactType:
      type: string
      description: 'The type of an artifact. Open enumeration — the catalog carries ~50 types; the most

        common are listed here. Unknown values are allowed.

        '
      examples:
      - OpenAPI
      - JSONSchema
      - Postman
      enum:
      - Documentation
      - OpenAPI
      - JSONSchema
      - JSONStructure
      - JSONLD
      - Example
      - GettingStarted
      - APIReference
      - Authentication
      - SDK
      - GitHubRepository
      - Reference
      - Pricing
      - CodeExamples
      - Website
      - RateLimits
      - Portal
      - AsyncAPI
      - Arazzo
      - GitHub
      - ChangeLog
      - SourceCode
      - Repository
      - FAQ
      - SignUp
      - GraphQL
      - Plans
      - Vocabulary
      - Specification
      - Tutorials
      - Sandbox
      - FinOps
      - SpectralRules
      - Console
      - GitHubOrganization
      - ReleaseNotes
      - Support
      - TermsOfService
      - Rules
      - Webhooks
      - Quickstart
      - ProductPage
      - Capabilities
      - PostmanCollection
      - Collection
      - KubernetesCRD
      - Hub
      - NaftikoCapability
      x-extensible-enum: true
      maxLength: 1024
    Artifact:
      type: object
      description: A machine- or human-readable artifact attached to an API.
      properties:
        id:
          type: string
          description: Stable artifact id, `aid::type::n`.
          examples:
          - twilio:twilio-accounts-api::OpenAPI::0
          maxLength: 1024
        type:
          $ref: '#/components/schemas/ArtifactType'
        name:
          type: string
          description: Optional human label for the artifact.
          maxLength: 1024
        url:
          type: string
          format: uri
          description: Reference to the artifact.
          maxLength: 2048
        aid:
          type: string
          description: aid of the owning API.
          maxLength: 1024
        provider_slug:
          type: string
          maxLength: 1024
        provider_name:
          type: string
          maxLength: 1024
        content:
          type: string
          description: Inlined artifact body. Present only when include=content.
          maxLength: 20000
        content_type:
          type: string
          description: Media type of the inlined content (e.g. application/yaml).
          maxLength: 20000
      required:
      - type
      - url
    Meta:
      type: object
      description: Pagination and echoed-query metadata for collection responses.
      properties:
        total:
          type: integer
          description: Total matching items across all pages.
          maximum: 1000000
        page:
          type: integer
          maximum: 1000000
        limit:
          type: integer
          maximum: 1000
        pages:
          type: integer
          description: Total number of pages.
          maximum: 1000000
        query:
          type: object
          additionalProperties: true
          description: The effective query parameters, echoed back.
      required:
      - total
      - page
      - limit
      - pages
  parameters:
    Providers:
      name: providers
      in: query
      description: Comma-separated provider slugs to scope results to.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    Aid:
      name: aid
      in: path
      required: true
      description: API id in `provider:api-slug` form (e.g. `twilio:twilio-accounts-api`).
      schema:
        type: string
        pattern: ^[^:]+:[^:]+$
        maxLength: 1024
    Limit:
      name: limit
      in: query
      description: Items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    ProviderSlug:
      name: slug
      in: path
      required: true
      description: Provider slug (e.g. `twilio`).
      schema:
        type: string
        maxLength: 1024
    Include:
      name: include
      in: query
      description: Extra data to embed. `content` fetches and inlines artifact bodies.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
          - content
          maxLength: 1024
        maxItems: 1000
    Match:
      name: match
      in: query
      description: Whether results must match `any` (default) or `all` of the supplied tags.
      schema:
        type: string
        enum:
        - any
        - all
        default: any
        maxLength: 1024
    Page:
      name: page
      in: query
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
        default: 1
        maximum: 1000000
    Q:
      name: q
      in: query
      description: Free-text query over name and description (and tags where applicable).
      schema:
        type: string
        maxLength: 1024
    Tags:
      name: tags
      in: query
      description: Comma-separated tags to filter by. Tag names are Title Case (e.g. Messaging); lowercase slugs (e.g. messaging) are also accepted.
      style: form
      explode: false
      example:
      - Messaging
      - Authentication
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    ArtifactSort:
      name: sort
      in: query
      description: Sort order.
      schema:
        type: string
        enum:
        - relevance
        - provider
        - name
        - updated
        default: relevance
        maxLength: 1024
  headers:
    XRateLimitTier:
      description: The tier this request was served on -- `free`, `starter`, `pro`, `business`, `internal` or `owner`. Keyless requests are `free`.
      schema:
        type: string
        examples:
        - free
    XRateLimitLimit:
      description: The rolling daily request quota for the tier that served this response.
      schema:
        type: integer
        examples:
        - 1000
    RateLimitPolicy:
      description: 'The rate-limit policy in force for the tier that served this response, in RFC 9331 quota-policy syntax: `"quota";q=1000;w=86400, "burst";q=5;w=1` -- a rolling daily quota and a per-second burst. This is the POLICY, not a live counter: `RateLimit-Remaining` and `RateLimit-Reset` are not sent, because the quota is enforced by the gateway and there is no per-key usage accounting to read. Pace against the policy and treat 429 as authoritative.'
      schema:
        type: string
        examples:
        - '"quota";q=1000;w=86400, "burst";q=5;w=1'
    XRateLimitWindow:
      description: The quota window in seconds. Always 86400 (one rolling day).
      schema:
        type: integer
        examples:
        - 86400
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://apis.io/problems/not-found
            title: Resource not found
            status: 404
            detail: No API found with aid `twilio:nope`.
            instance: /v1/apis/twilio:nope
    BadRequest:
      description: Malformed request (bad parameter value).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://apis.io/problems/invalid-parameter
            title: Invalid parameter
            status: 400
            detail: '`match` must be one of: any, all.'
            instance: /v1/search
            parameter: match
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
