openapi: 3.2.0
info:
  title: APIs.io Providers API
  version: 1.5.0
  description: 'Organizations publishing APIs on the network.


    This is the Providers surface of the [APIs.io API](https://apis.io/api/v1) — one of 17 contracts split from the full API by tag, each documented and governed on its own. See the APIs.json index for the whole set.'
  contact:
    name: API Evangelist
    url: https://apis.io
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://apis.io/api/v1
  description: Production server.
tags:
- name: Providers
  description: Organizations publishing APIs on the network.
paths:
  /providers:
    get:
      operationId: listProviders
      tags:
      - Providers
      summary: List and filter providers.
      description: List providers, optionally filtered by free text, tags, or the artifact types they publish.
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/ArtifactTypes'
      - $ref: '#/components/parameters/IndustryFilter'
      - $ref: '#/components/parameters/RegionFilter'
      - $ref: '#/components/parameters/BandFilter'
      - $ref: '#/components/parameters/MinScore'
      - $ref: '#/components/parameters/MaxScore'
      - $ref: '#/components/parameters/TrendFilter'
      - $ref: '#/components/parameters/FacetFilter'
      - $ref: '#/components/parameters/MinFacet'
      - name: sort
        in: query
        description: Sort order.
        schema:
          type: string
          enum:
          - relevance
          - name
          - api_count
          - created
          - score
          default: relevance
          maxLength: 1024
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: A page of providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderList'
        '400':
          $ref: '#/components/responses/BadRequest'
      security: []
      x-tier: free
  /providers/{slug}:
    get:
      operationId: getProvider
      tags:
      - Providers
      summary: Get one provider.
      description: Returns a single provider by slug, including its provider-wide links, tags, and a summary list of the APIs it publishes.
      parameters:
      - $ref: '#/components/parameters/ProviderSlug'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: The provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '404':
          $ref: '#/components/responses/NotFound'
      security: []
      x-tier: free
  /providers/{slug}/apis:
    get:
      operationId: listProviderApis
      tags:
      - Providers
      summary: List the APIs published by a provider.
      description: Returns a page of the APIs owned by one provider, optionally filtered by tags and required artifact types. Pass `include=content` to inline artifact bodies.
      parameters:
      - $ref: '#/components/parameters/ProviderSlug'
      - $ref: '#/components/parameters/Tags'
      - $ref: '#/components/parameters/Match'
      - $ref: '#/components/parameters/ArtifactTypes'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of the provider's APIs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiList'
        '404':
          $ref: '#/components/responses/NotFound'
      security: []
      x-tier: free
  /providers/{slug}/artifacts:
    get:
      operationId: getProviderArtifacts
      x-tier: free
      x-mcp-tool: get_provider_artifacts
      x-agent-skill: integrate-provider
      tags:
      - Providers
      summary: Every artifact a provider publishes.
      description: Aggregates all artifacts across a provider's APIs — grouped by type (OpenAPI, MCP, Arazzo, rules, security, pricing…) — plus per-type counts. One call instead of composing several.
      parameters:
      - $ref: '#/components/parameters/ProviderSlug'
      responses:
        '200':
          description: The provider's artifacts, grouped by type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
      security: []
  /providers/{slug}/onboarding:
    get:
      operationId: getProviderOnboarding
      x-tier: free
      x-mcp-tool: get_provider_onboarding
      x-agent-skill: integrate-provider
      tags:
      - Providers
      summary: A provider's getting-started view.
      description: Assembles website, portal, signup, docs, authentication, base URLs, and first steps from a provider's registered links and API base URLs — a best-effort onboarding descriptor.
      parameters:
      - $ref: '#/components/parameters/ProviderSlug'
      responses:
        '200':
          description: The provider's onboarding view.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
      security: []
  /providers/{slug}/similar:
    get:
      operationId: findSimilarProviders
      x-tier: free
      x-mcp-tool: find_similar_providers
      x-agent-skill: shortlist-vendors
      tags:
      - Providers
      summary: Providers similar to a given one.
      description: Ranks catalog providers by weighted overlap of tags, industry, region, and artifact coverage — the alternatives to a given provider.
      parameters:
      - $ref: '#/components/parameters/ProviderSlug'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of similar providers, most similar first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderList'
        '404':
          $ref: '#/components/responses/NotFound'
      security: []
  /providers/{slug}/capabilities:
    get:
      operationId: getProviderCapabilities
      x-tier: free
      x-mcp-tool: get_provider_capabilities
      x-agent-skill: integrate-provider
      security: []
      tags:
      - Providers
      summary: What one provider publishes, counted.
      description: Artifact counts by type with the agent dimensions the provider satisfies. Free — it is a fact about their own public surface.
      parameters:
      - $ref: '#/components/parameters/ProviderSlug'
      responses:
        '200':
          description: What one provider publishes, counted.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /providers/{slug}/operations:
    get:
      operationId: getProviderOperations
      x-tier: free
      x-mcp-tool: get_provider_operations
      x-agent-skill: integrate-provider
      security: []
      tags:
      - Providers
      summary: Every operation a provider exposes.
      description: 'All operations across all of a provider''s OpenAPIs in one call — method, path, operationId, summary, the API each belongs to, and deprecation. The shortcut for "what can I actually call here?", which otherwise means fetching and parsing every spec they publish (159 documents for Stripe).


        Where the provider publishes agentic-access, each operation carries its action class and consequence — the difference between a read and something that moves money — and `meta.coverage` states how many operations have it. An operation WITHOUT an `agentic` block was not profiled; that is not the same as safe.'
      parameters:
      - $ref: '#/components/parameters/ProviderSlug'
      - name: method
        in: query
        schema:
          type: string
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - HEAD
          - OPTIONS
      - name: api
        in: query
        schema:
          type: string
        description: Restrict to one API, by aid or api slug.
      - name: path
        in: query
        schema:
          type: string
        description: Substring match on the operation path.
      - name: consequence
        in: query
        schema:
          type: string
        description: Agentic consequence, e.g. read.
      - name: action_class
        in: query
        schema:
          type: string
      - name: deprecated
        in: query
        schema:
          type: string
          enum:
          - 'true'
        description: Only operations the provider marks deprecated.
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Every operation a provider exposes.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /providers/{slug}/tools:
    get:
      operationId: getProviderTools
      x-tier: free
      x-mcp-tool: get_provider_tools
      x-agent-skill: integrate-provider
      security: []
      tags:
      - Providers
      summary: Every MCP tool a provider ships.
      description: 'Each tool with the operation it wraps and its auth, plus provenance: `first-party` means the provider publishes that server; `derived` means API Evangelist generated a candidate tool list from their OpenAPI because no hosted server was found. Filter `?provenance=first-party` for a true picture — counting derived tools as the provider''s own is what overstates MCP adoption across the catalog.


        A server whose tools could not be enumerated (auth-gated, for instance) appears in `meta.coverage.not_enumerable` with the reason, rather than being silently counted as zero.'
      parameters:
      - $ref: '#/components/parameters/ProviderSlug'
      - name: provenance
        in: query
        schema:
          type: string
          enum:
          - first-party
          - derived
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Every MCP tool a provider ships.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
  /providers/{slug}/schema:
    get:
      operationId: getProviderSchema
      x-tier: free
      x-mcp-tool: get_provider_schema
      x-agent-skill: integrate-provider
      security: []
      tags:
      - Providers
      summary: Every JSON Schema a provider publishes.
      description: The data shapes a provider's API works in, in one list, without walking their artifacts.
      parameters:
      - $ref: '#/components/parameters/ProviderSlug'
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Every JSON Schema a provider publishes.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Trend:
      type: string
      description: Week-over-week movement in composite score (±5 thresholds).
      enum:
      - rising
      - flat
      - falling
      maxLength: 1024
    Facets:
      type: object
      description: The six facet scores, each 0–100.
      properties:
        discoverability:
          type: number
          minimum: 0
          maximum: 100
          description: Discoverability facet score (weight 0.10).
        contract_quality:
          type: number
          minimum: 0
          maximum: 100
          description: Contract Quality facet score (weight 0.25).
        governance:
          type: number
          minimum: 0
          maximum: 100
          description: Governance facet score (weight 0.12).
        operational_transparency:
          type: number
          minimum: 0
          maximum: 100
          description: Operational Transparency facet score (weight 0.13).
        developer_ergonomics:
          type: number
          minimum: 0
          maximum: 100
          description: Developer Ergonomics facet score (weight 0.20).
        commercial_clarity:
          type: number
          minimum: 0
          maximum: 100
          description: Commercial Clarity facet score (weight 0.20).
    Band:
      type: string
      description: Rating band derived from the composite score.
      enum:
      - exemplar
      - strong
      - developing
      - thin
      - minimal
      maxLength: 1024
    Link:
      type: object
      properties:
        type:
          type: string
          description: Link/relationship type (e.g. Documentation, Website, GitHub, Pricing).
          maxLength: 1024
        url:
          type: string
          format: uri
          maxLength: 2048
        title:
          type: string
          maxLength: 1024
      required:
      - type
      - url
    FacetName:
      type: string
      description: One of the six rating facets.
      enum:
      - discoverability
      - contract_quality
      - governance
      - operational_transparency
      - developer_ergonomics
      - commercial_clarity
      maxLength: 1024
    ProviderList:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Provider'
          maxItems: 1000
      required:
      - meta
      - data
    Problem:
      type: object
      description: 'A Problem Details object per [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457).

        Served as `application/problem+json`. Extension members (e.g. `parameter`) may be

        added alongside the standard fields.

        '
      properties:
        type:
          type: string
          format: uri
          default: about:blank
          description: A URI identifying the problem type; dereferences to human-readable docs.
          examples:
          - https://apis.io/problems/invalid-parameter
          maxLength: 2048
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          examples:
          - Invalid parameter
          maxLength: 1024
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: The HTTP status code, repeated for convenience.
          examples:
          - 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence.
          maxLength: 20000
        instance:
          type: string
          format: uri-reference
          description: A URI reference identifying the specific occurrence (typically the request path).
          maxLength: 2048
        parameter:
          type: string
          description: Extension member — the offending query/path parameter, when applicable.
          maxLength: 1024
      required:
      - type
      - title
      - status
      additionalProperties: true
    Provider:
      type: object
      description: An organization publishing one or more APIs.
      properties:
        slug:
          type: string
          examples:
          - twilio
          maxLength: 1024
        name:
          type: string
          maxLength: 1024
        description:
          type: string
          maxLength: 20000
        api_count:
          type: integer
          maximum: 1000
        image:
          type: string
          format: uri
          maxLength: 2048
        created:
          type: string
          format: date
          maxLength: 10
        common:
          type: array
          description: Provider-wide links (Website, Docs, Pricing, GitHub, social, …).
          items:
            $ref: '#/components/schemas/Link'
          maxItems: 1000
        apis:
          type: array
          description: Summary list of the provider's APIs.
          items:
            type: object
            properties:
              name:
                type: string
                maxLength: 1024
              slug:
                type: string
                maxLength: 1024
              description:
                type: string
                maxLength: 20000
          maxItems: 1000
        tags:
          type: array
          description: Tag names in Title Case (e.g. Messaging, Authentication).
          items:
            type: string
            maxLength: 1024
          examples:
          - - Messaging
            - Authentication
          maxItems: 1000
        score:
          $ref: '#/components/schemas/ProviderScore'
      required:
      - slug
      - name
    ArtifactType:
      type: string
      description: 'The type of an artifact. Open enumeration — the catalog carries ~50 types; the most

        common are listed here. Unknown values are allowed.

        '
      examples:
      - OpenAPI
      - JSONSchema
      - PostmanCollection
      enum:
      - Documentation
      - OpenAPI
      - JSONSchema
      - JSONStructure
      - JSONLD
      - Example
      - GettingStarted
      - APIReference
      - Authentication
      - SDK
      - GitHubRepository
      - Reference
      - Pricing
      - CodeExamples
      - Website
      - RateLimits
      - Portal
      - AsyncAPI
      - Arazzo
      - GitHub
      - ChangeLog
      - SourceCode
      - Repository
      - FAQ
      - SignUp
      - GraphQL
      - Plans
      - Vocabulary
      - Specification
      - Tutorials
      - Sandbox
      - FinOps
      - SpectralRules
      - Console
      - GitHubOrganization
      - ReleaseNotes
      - Support
      - TermsOfService
      - Rules
      - Webhooks
      - Quickstart
      - ProductPage
      - Capabilities
      - PostmanCollection
      - Collection
      - KubernetesCRD
      - Hub
      - NaftikoCapability
      x-extensible-enum: true
      maxLength: 1024
    ApiList:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Api'
          maxItems: 1000
      required:
      - meta
      - data
    Meta:
      type: object
      description: Pagination and echoed-query metadata for collection responses.
      properties:
        total:
          type: integer
          description: Total matching items across all pages.
          maximum: 1000000
        page:
          type: integer
          maximum: 1000000
        limit:
          type: integer
          maximum: 1000
        pages:
          type: integer
          description: Total number of pages.
          maximum: 1000000
        query:
          type: object
          additionalProperties: true
          description: The effective query parameters, echoed back.
      required:
      - total
      - page
      - limit
      - pages
    Api:
      type: object
      description: An individual API owned by a provider.
      properties:
        aid:
          type: string
          examples:
          - twilio:twilio-accounts-api
          maxLength: 1024
        name:
          type: string
          maxLength: 1024
        description:
          type: string
          maxLength: 20000
        provider_slug:
          type: string
          maxLength: 1024
        provider_name:
          type: string
          maxLength: 1024
        baseURL:
          type: string
          format: uri
          maxLength: 2048
        humanURL:
          type: string
          format: uri
          description: Human-facing documentation entry point.
          maxLength: 2048
        tags:
          type: array
          description: Tag names in Title Case (e.g. Messaging, Authentication).
          items:
            type: string
            maxLength: 1024
          examples:
          - - Messaging
            - Authentication
          maxItems: 1000
        properties:
          type: array
          description: The API's artifacts.
          items:
            $ref: '#/components/schemas/Artifact'
          maxItems: 1000
        sibling_apis:
          type: array
          description: Other APIs published by the same provider.
          items:
            type: object
            properties:
              name:
                type: string
                maxLength: 1024
              slug:
                type: string
                maxLength: 1024
          maxItems: 1000
        overview:
          type: string
          description: Narrative overview (markdown).
          maxLength: 1024
      required:
      - aid
      - name
      - provider_slug
    Artifact:
      type: object
      description: A machine- or human-readable artifact attached to an API.
      properties:
        id:
          type: string
          description: Stable artifact id, `aid::type::n`.
          examples:
          - twilio:twilio-accounts-api::OpenAPI::0
          maxLength: 1024
        type:
          $ref: '#/components/schemas/ArtifactType'
        name:
          type: string
          description: Optional human label for the artifact.
          maxLength: 1024
        url:
          type: string
          format: uri
          description: Reference to the artifact.
          maxLength: 2048
        aid:
          type: string
          description: aid of the owning API.
          maxLength: 1024
        provider_slug:
          type: string
          maxLength: 1024
        provider_name:
          type: string
          maxLength: 1024
        content:
          type: string
          description: Inlined artifact body. Present only when include=content.
          maxLength: 20000
        content_type:
          type: string
          description: Media type of the inlined content (e.g. application/yaml).
          maxLength: 20000
      required:
      - type
      - url
    ProviderScore:
      type: object
      description: A provider's rating, rubric v0.3.
      properties:
        composite:
          type: number
          minimum: 0
          maximum: 100
          description: Weighted composite of the six facets.
          examples:
          - 66.3
        band:
          $ref: '#/components/schemas/Band'
        trend:
          $ref: '#/components/schemas/Trend'
        delta:
          type: number
          description: Composite change since the previous snapshot.
          examples:
          - 0
          maximum: 1000000000
        previous_composite:
          type: number
          minimum: 0
          maximum: 100
        scored_at:
          type: string
          format: date
          maxLength: 10
        schema_version:
          type: string
          examples:
          - '0.3'
          maxLength: 1024
        facets:
          $ref: '#/components/schemas/Facets'
      required:
      - composite
      - band
  parameters:
    Format:
      name: format
      in: query
      required: false
      description: Set to `csv` for a spreadsheet-ready response on row-shaped endpoints. Defaults to JSON.
      schema:
        type: string
        enum:
        - csv
    ProviderSlug:
      name: slug
      in: path
      required: true
      description: Provider slug (e.g. `twilio`).
      schema:
        type: string
        maxLength: 1024
    Limit:
      name: limit
      in: query
      description: Items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Page:
      name: page
      in: query
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
        default: 1
        maximum: 1000000
    FacetFilter:
      name: facet
      in: query
      description: Facet to apply `min_facet` against.
      schema:
        $ref: '#/components/schemas/FacetName'
    IndustryFilter:
      name: industry
      in: query
      description: Filter by one or more industry slugs.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    Q:
      name: q
      in: query
      description: Free-text query over name and description (and tags where applicable).
      schema:
        type: string
        maxLength: 1024
    BandFilter:
      name: band
      in: query
      description: Filter by one or more rating bands.
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/Band'
        maxItems: 1000
    MinScore:
      name: min_score
      in: query
      description: Minimum composite score (0–100).
      schema:
        type: number
        minimum: 0
        maximum: 100
    ArtifactTypes:
      name: artifact_types
      in: query
      description: Comma-separated artifact types. Filters which artifacts are returned and (on list endpoints) which APIs qualify.
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/ArtifactType'
        maxItems: 1000
    Fields:
      name: fields
      in: query
      description: Sparse fieldset — comma-separated property names to return.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    Tags:
      name: tags
      in: query
      description: Comma-separated tags to filter by. Tag names are Title Case (e.g. Messaging); lowercase slugs (e.g. messaging) are also accepted.
      style: form
      explode: false
      example:
      - Messaging
      - Authentication
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    Match:
      name: match
      in: query
      description: Whether results must match `any` (default) or `all` of the supplied tags.
      schema:
        type: string
        enum:
        - any
        - all
        default: any
        maxLength: 1024
    Include:
      name: include
      in: query
      description: Extra data to embed. `content` fetches and inlines artifact bodies.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum:
          - content
          maxLength: 1024
        maxItems: 1000
    TrendFilter:
      name: trend
      in: query
      description: Filter by trend marker.
      schema:
        $ref: '#/components/schemas/Trend'
    MaxScore:
      name: max_score
      in: query
      description: Maximum composite score (0–100).
      schema:
        type: number
        minimum: 0
        maximum: 100
    RegionFilter:
      name: region
      in: query
      description: Filter by one or more region slugs.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          maxLength: 1024
        maxItems: 1000
    MinFacet:
      name: min_facet
      in: query
      description: Minimum score (0–100) for the facet named by `facet`.
      schema:
        type: number
        minimum: 0
        maximum: 100
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://apis.io/problems/not-found
            title: Resource not found
            status: 404
            detail: No API found with aid `twilio:nope`.
            instance: /v1/apis/twilio:nope
    BadRequest:
      description: Malformed request (bad parameter value).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://apis.io/problems/invalid-parameter
            title: Invalid parameter
            status: 400
            detail: '`match` must be one of: any, all.'
            instance: /v1/search
            parameter: match
