openapi: 3.1.0
info:
  title: APIs.io Resolve & Enrich API
  version: 1.5.0
  description: |-
    Agent ergonomics — resolve any identifier (domain, URL, GitHub org) to a provider, and enrich a provider in one call by choosing field groups. Free (the rating and insights enrichment groups are Pro).

    This is the Resolve & Enrich surface of the [APIs.io API](https://apis.io/api/v1) — one of 17 contracts split from the full API by tag, each documented and governed on its own. See the APIs.json index for the whole set.
  contact:
    name: API Evangelist
    url: https://apis.io
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
  - url: https://apis.io/api/v1
    description: Production server.
tags:
  - name: Resolve & Enrich
    description: Agent ergonomics — resolve any identifier (domain, URL, GitHub org) to a provider, and enrich a provider in one call by choosing field groups. Free (the rating and insights enrichment groups are Pro).
paths:
  /resolve:
    get:
      operationId: resolveIdentifier
      x-mcp-tool: resolve
      tags:
        - Resolve & Enrich
      summary: Resolve any identifier (domain / URL / GitHub org) to a provider.
      description: Given a website URL, bare domain (`stripe.com`), or GitHub org (`github.com/stripe`), return the apis.io provider that owns it. Use when you hold a URL, not a slug. Free.
      parameters:
        - name: identifier
          in: query
          required: true
          description: A domain, URL, or `github.com/<org>`.
          schema:
            type: string
      responses:
        "200":
          description: The matched provider (slug, name, website, band, composite, match kind).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          $ref: "#/components/responses/NotFound"
      x-tier: free
  /enrich:
    get:
      operationId: enrichProvider
      x-mcp-tool: enrich_provider
      tags:
        - Resolve & Enrich
      summary: Enrich a provider in one call, choosing field groups.
      description: "Resolves a slug OR any identifier and returns exactly the requested field groups, instead of chaining several `get_provider*` calls. Groups `profile`, `onboarding`, `artifacts` are free; `rating` and `insights` require the Pro tier (returned as `{ gated: true }` for free callers)."
      parameters:
        - name: id
          in: query
          required: true
          description: Provider slug or any identifier `/resolve` accepts.
          schema:
            type: string
        - name: fields
          in: query
          description: "Comma-separated field groups: profile, onboarding, artifacts, rating, security, insights. Default: profile,onboarding,artifacts,rating."
          schema:
            type: string
      responses:
        "200":
          description: The requested field groups for the provider.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          $ref: "#/components/responses/NotFound"
      x-tier: free
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            type: https://apis.io/problems/not-found
            title: Resource not found
            status: 404
            detail: No API found with aid `twilio:nope`.
            instance: /v1/apis/twilio:nope
  schemas:
    Problem:
      type: object
      description: |
        A Problem Details object per [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457).
        Served as `application/problem+json`. Extension members (e.g. `parameter`) may be
        added alongside the standard fields.
      properties:
        type:
          type: string
          format: uri
          default: about:blank
          description: A URI identifying the problem type; dereferences to human-readable docs.
          examples:
            - https://apis.io/problems/invalid-parameter
          maxLength: 2048
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          examples:
            - Invalid parameter
          maxLength: 1024
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: The HTTP status code, repeated for convenience.
          examples:
            - 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence.
          maxLength: 20000
        instance:
          type: string
          format: uri-reference
          description: A URI reference identifying the specific occurrence (typically the request path).
          maxLength: 2048
        parameter:
          type: string
          description: Extension member — the offending query/path parameter, when applicable.
          maxLength: 1024
      required:
        - type
        - title
        - status
      additionalProperties: true
